/* CLASES GENERALES */
*{
	padding: 0;
	margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	overflow-x: hidden;
	zoom: 1;
}
:root {
  --greenluca: #00bb7d;
  --scnd_greenluca: #00b4ad;
  --greenluca_hover_soft: #1BD68C;
  --ColorBtns: #00bb7d;
  --ColorBtns_hov: #1BD68C;
  --ColorHypLinkMain: #00bb7d;
  --ColorTitles: #00bb7d;
  --ColorInputBorderInActive: #282828;
  --ColorInputBorderActive: #7febd0;
  --ColorError: #ad4f50;
  --ColorBtnRed: #ad4f50;
  --ColorBtnRed_hov: #a03c3e;
  --ColorSuccess: #00bb7d;
  --ColorRadiobtnChecked: #00bb7d;
  --fullwidth: 100%;
  --GradientLeftLuca: linear-gradient(to left, #00bb7d, #00b4ad);
}
.noscroll{
	overflow-y: hidden;
	left: 0;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  width: 100%;
}
a{text-decoration: none;}
a:hover{color: #267363;}
button:focus {outline:0;}

.wsNormal {
  white-space: normal !important;
  text-overflow: unset !important;
}

/* ::::::::::: MENU BAR IN APP ::::::::::: */
.wrapper{
  width: 100%;
  height: auto;
}
/* :::::::::::: SCROLL ::::::::::::::: */
::-webkit-scrollbar {
    width: 5px;
    height: 2.5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(0,187,125,0.6), rgba(0,180,173,0.6));
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: linear-gradient(to bottom, rgba(0,187,125,0.2), rgba(0,180,173,0.2)); 
}


/***************************************/
/******** GENERAL DEFINITIONS **********/
/***************************************/

.w5p{width: 5% !important;}
.w10p{width: 10% !important;}
.w15p{width: 15% !important;}
.w20p{width: 20% !important;}
.w25p{width: 25% !important;}
.w30p{width: 30% !important;}
.w35p{width: 35% !important;}
.w40p{width: 40% !important;}
.w45p{width: 45% !important;}
.w50p{width: 50% !important;}
.w55p{width: 55% !important;}
.w60p{width: 60% !important;}
.w65p{width: 65% !important;}
.w70p{width: 70% !important;}
.w75p{width: 75% !important;}
.w80p{width: 80% !important;}
.w85p{width: 85% !important;}
.w90p{width: 90% !important;}
.w95p{width: 95% !important;}
.w100p{width: 100% !important;}

.w1{width: 1px !important;}
.w2{width: 2px !important;}
.w3{width: 3px !important;}
.w4{width: 4px !important;}
.w5{width: 5px !important;}
.w6{width: 6px !important;}
.w7{width: 7px !important;}
.w8{width: 8px !important;}
.w9{width: 9px !important;}
.w10{width: 10px !important;}
.w11{width: 11px !important;}
.w12{width: 12px !important;}
.w13{width: 13px !important;}
.w14{width: 14px !important;}
.w15{width: 15px !important;}
.w50{width: 50px !important;}
.w100{width: 100px !important;}
.w150{width: 150px !important;}
.w200{width: 200px !important;}
.w225{width: 225px !important;}
.w250{width: 250px !important;}
.w300{width: 300px !important;}
.w350{width: 350px !important;}
.w400{width: 400px !important;}
.w450{width: 450px !important;}
.w500{width: 500px !important;}
.w550{width: 550px !important;}
.w600{width: 600px !important;}
.w650{width: 650px !important;}
.w700{width: 700px !important;}
.w750{width: 750px !important;}
.w800{width: 800px !important;}
.w850{width: 850px !important;}
.w900{width: 900px !important;}
.w950{width: 950px !important;}
.w1000{width: 1000px !important;}

.mw50{max-width: 50px !important;}
.mw80{max-width: 80px !important;}
.mw100{max-width: 100px !important;}
.mw150{max-width: 150px !important;}
.mw200{max-width: 200px !important;}
.mw225{max-width: 225px !important;}
.mw250{max-width: 250px !important;}
.mw300{max-width: 300px !important;}
.mw350{max-width: 350px !important;}
.mw400{max-width: 400px !important;}
.mw450{max-width: 450px !important;}
.mw500{max-width: 500px !important;}
.mw550{max-width: 550px !important;}
.mw600{max-width: 600px !important;}
.mw650{max-width: 650px !important;}
.mw700{max-width: 700px !important;}
.mw750{max-width: 750px !important;}
.mw800{max-width: 800px !important;}
.mw850{max-width: 850px !important;}
.mw900{max-width: 900px !important;}
.mw950{max-width: 950px !important;}
.mw1000{max-width: 1000px !important;}

.mw85p{max-width: 85% !important;}
.mw90p{max-width: 90% !important;}
.mw95p{max-width: 95% !important;}
.mw100p{max-width: 100% !important;}

.h50{height: 50px !important;}
.h100{height: 100px !important;}
.h150{height: 150px !important;}
.h200{height: 200px !important;}
.h225{height: 225px !important;}
.h250{height: 250px !important;}
.h300{height: 300px !important;}
.h350{height: 350px !important;}
.h400{height: 400px !important;}
.h450{height: 450px !important;}
.h500{height: 500px !important;}
.h550{height: 550px !important;}
.h600{height: 600px !important;}
.h650{height: 650px !important;}
.h700{height: 700px !important;}
.h750{height: 750px !important;}
.h800{height: 800px !important;}
.h850{height: 850px !important;}
.h900{height: 900px !important;}
.h950{height: 950px !important;}
.h1000{height: 1000px !important;}

.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt35{margin-top: 35px !important;}
.mt40{margin-top: 40px !important;}
.mt45{margin-top: 45px !important;}
.mt50{margin-top: 50px !important;}

.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mb35{margin-bottom: 35px !important;}
.mb40{margin-bottom: 40px !important;}
.mb45{margin-bottom: 45px !important;}
.mb50{margin-bottom: 50px !important;}

.mall5{margin: 5px !important;}
.mall10{margin: 10px !important;}
.mall15{margin: 15px !important;}
.mall20{margin: 20px !important;}
.mall25{margin: 25px !important;}
.mall30{margin: 30px !important;}
.mall35{margin: 35px !important;}
.mall40{margin: 40px !important;}
.mall45{margin: 45px !important;}
.mall50{margin: 50px !important;}

.text-uppercase{text-transform: uppercase !important;}
.text-bold{font-weight: bold !important;}
.text-light{font-weight: lighter !important;}

.hide{display: none !important;}
.display-block{display: block !important;}
.display-table{display: table !important;}

.float-left{float: left !important;}
.float-right{float: right !important;}
.clear-both{clear: both !important;}

.reset-padd-marg{padding: 0 !important; margin: 0 !important;}
.reset-padd{padding: 0 !important;}
.reser-marg{margin: 0 !important;}

.center_hr{margin: 0 auto;}
.center_vr{margin: auto 0;}
.center_bt{margin: auto;}
.center_txt{text-align: center;}

.text_overflow_dots{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table_style{
    display: table;
    width: 100%;
}
.tablecell_style{
    display: table-cell;
    text-align: center;
}

/******** END OF DEFINITIONS **********/

/* :::::::::::: POSITIONS ::::::::::::: */

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/********** FONTS ************/
.title_1_font{
    font-family: lato !important;
    line-height: 50px !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    font-size: 35px;
}
.subtitle_1{
    font-size: 1.125em !important;
    color: #191919 !important;
    margin-top: 15px !important;
    padding: 0 !important;
    margin-bottom: 15px !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    text-align: left !important;   
}
.luca_link{
    color: #00bb7d;
    font-size: inherit;
    font-weight: 500;
    cursor: pointer;
}
.luca_link:hover{
    text-decoration: underline;
}

.mayusc{text-transform: uppercase !important;}
.letSp-5{letter-spacing: 0.5px !important;}
.letSp1{letter-spacing: 1px !important;}
.letSp1-5{letter-spacing: 1.5px !important;}
.letSp2{letter-spacing: 2px !important;}

.fs5{font-size: 5px !important;}
.fs6{font-size: 6px !important;}
.fs7{font-size: 7px !important;}
.fs8{font-size: 8px !important;}
.fs9{font-size: 9px !important;}
.fs10{font-size: 10px !important;}
.fs11{font-size: 11px !important;}
.fs12{font-size: 12px !important;}
.fs13{font-size: 13px !important;}
.fs14{font-size: 14px !important;}
.fs15{font-size: 15px !important;}
.fs16{font-size: 16px !important;}
.fs17{font-size: 17px !important;}
.fs18{font-size: 18px !important;}
.fs19{font-size: 19px !important;}
.fs20{font-size: 20px !important;}
.fs21{font-size: 21px !important;}
.fs22{font-size: 22px !important;}
.fs23{font-size: 23px !important;}
.fs24{font-size: 24px !important;}
.fs25{font-size: 25px !important;}

/********** BORDERS **************/
.border_top{
  border-top: 1px solid #999;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.border_btn{
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #999;
  border-left: none;
}
.border_btn_soft{
  padding-bottom: 5px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dddddd;
  border-left: none;
  max-width: 400px;
  margin: auto;
}



/************* COLORS ************/

.gray_bg{background-color: #f9f9f9 !important; }
.red_bg{background-color: var(--ColorBtnRed) !important; }
.bgBtnRed{background-color: var(--ColorBtnRed) !important;}
.luca_grad_left{background: linear-gradient(to left, #00bb7d, #00b4ad) !important;}

.color333{color: #333333 !important; }
.color666{color: #666666 !important; }
.color999{color: #999999 !important; }
.colorCCC{color: #cccccc !important; }
.colorEFE{color: #efefef !important; }
.colorLuca{color: #00bb7d !important; }
.colorRed{color: var(--ColorBtnRed) !important; }
/******* TRANSITIONS ***********/
.transition_color{
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

/************ BUTTONS *******************/
.btn_green_full{
	max-width: 300px;
	width: 100%;
	height: 50px;
	color: #ffffff;
	font-size: 17px;
	border:none;
	border-radius: 7px;
	background-color: var(--ColorBtns);
	letter-spacing: 2px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 13px 10px;
	display: block;
	margin: 20px auto 10px auto;
}

.btn_green_full:hover{
	background-color: var(--ColorBtns_hov);
}

.btn_soft_style{
    border: 1px solid var(--greenluca);
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    max-width: 250px;
	width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-weight: 400;
    color: var(--greenluca);
    -webkit-appearance: none;
	-moz-appearance: none;
}
.btn_soft_style:hover{
    color: #ffffff;
    background: #00bb7d87;
    border: none;
}

/******** TAGS *********/
.tag{
  width: fit-content;
  padding: 3px 12px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: default;
  line-height: 22px;
  text-align: center;
}
.tag.clickable{
  cursor: pointer;
}
.tag.black5{
  background: #555555;
  color: #FFFFFF;
}
.tag.red{
  background: #ad4f50;
  color: #FFFFFF;
}
.tag.luca_deg{
  background: linear-gradient(to bottom, rgba(0,187,125,0.6), rgba(0,180,173,0.6));
  color: #FFFFFF;
}

/*********** ANIMATIONS *************/

/** ZOOM IN MODAL **/
@keyframes zoomin_modal {
  0%{transform: translate(-50%, -50%) scale(0.1);}
  70%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}
@-webkit-keyframes zoomin_modal {
  0%{transform: translate(-50%, -50%) scale(0.1);}
  70%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}
@-moz-keyframes zoomin_modal {
  0%{transform: translate(-50%, -50%) scale(0.1);}
  70%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}
@-o-keyframes zoomin_modal {
  0%{transform: translate(-50%, -50%) scale(0.1);}
  70%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}

/* SHAKE ROTATE */
@keyframes shake_rotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(2deg);}
    75%{transform: rotate(-2deg);}
    100%{transform: rotate(0deg);}
}
@-webkit-keyframes shake_rotate {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(2deg);}
    75%{transform: rotate(-2deg);}
    100%{transform: rotate(0deg);}
}
@-moz-keyframes shake_rotate {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(2deg);}
    75%{transform: rotate(-2deg);}
    100%{transform: rotate(0deg);} 
}
@-o-keyframes shake_rotate {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(2deg);}
    75%{transform: rotate(-2deg);}
    100%{transform: rotate(0deg);}
}


/* POPUP */
@keyframes popup_modal {
  0%{transform: translate(-50%, -50%) scale(1);}
  50%{transform: translate(-50%, -50%) scale(1.25);}
  60%{transform: translate(-50%, -50%) scale(1.1);}
  70%{transform: translate(-50%, -50%) scale(1.2);}
  80%{transform: translate(-50%, -50%) scale(1);}
  90%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}
@-webkit-keyframes popup_modal {
  0%{transform: translate(-50%, -50%) scale(1);}
  50%{transform: translate(-50%, -50%) scale(1.25);}
  60%{transform: translate(-50%, -50%) scale(1.1);}
  70%{transform: translate(-50%, -50%) scale(1.2);}
  80%{transform: translate(-50%, -50%) scale(1);}
  90%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}
@-moz-keyframes popup_modal {
  0%{transform: translate(-50%, -50%) scale(1);}
  50%{transform: translate(-50%, -50%) scale(1.25);}
  60%{transform: translate(-50%, -50%) scale(1.1);}
  70%{transform: translate(-50%, -50%) scale(1.2);}
  80%{transform: translate(-50%, -50%) scale(1);}
  90%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}
@-o-keyframes popup_modal {
  0%{transform: translate(-50%, -50%) scale(1);}
  50%{transform: translate(-50%, -50%) scale(1.25);}
  60%{transform: translate(-50%, -50%) scale(1.1);}
  70%{transform: translate(-50%, -50%) scale(1.2);}
  80%{transform: translate(-50%, -50%) scale(1);}
  90%{transform: translate(-50%, -50%) scale(1.1);}
  100%{transform: translate(-50%, -50%) scale(1);}
}

/* HEARTBEAT */
@keyframes heartbeat {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    90% {transform: scale(0.7);}
    100% {transform: scale(1);}
}
@-webkit-keyframes heartbeat {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    90% {transform: scale(0.7);}
    100% {transform: scale(1);}
}
@-moz-keyframes heartbeat {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    90% {transform: scale(0.7);}
    100% {transform: scale(1);}
}
@-o-keyframes heartbeat {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    90% {transform: scale(0.7);}
    100% {transform: scale(1);}
}

/* OPACITY SHOW*/
@keyframes opacity_show {
    0% {opacity: 0;-khtml-opacity: 0;-moz-opacity:0;}
    100% {opacity: 1;-khtml-opacity: 1;-moz-opacity:1;}
}
@-webkit-keyframes opacity_show {
    0% {opacity: 0;-khtml-opacity: 0;-moz-opacity:0;}
    100% {opacity: 1;-khtml-opacity: 1;-moz-opacity:1;}
}
@-moz-keyframes opacity_show {
    0% {opacity: 0;-khtml-opacity: 0;-moz-opacity:0;}
    100% {opacity: 1;-khtml-opacity: 1;-moz-opacity:1;}
}
@-o-keyframes opacity_show {
    0% {opacity: 0;-khtml-opacity: 0;-moz-opacity:0;}
    100% {opacity: 1;-khtml-opacity: 1;-moz-opacity:1;}
}

/****** PULSE *******/

@-webkit-keyframes pulseRed {
  0% {-webkit-box-shadow: 0 0 0 0 rgba(173, 79, 80, 0.4);}
  70% {-webkit-box-shadow: 0 0 0 10px rgba(173, 79, 80, 0);}
  100% {-webkit-box-shadow: 0 0 0 0 rgba(173, 79, 80, 0);}
}
@keyframes pulseRed {
  0% { -moz-box-shadow: 0 0 0 0 rgba(173, 79, 80, 0.4);
       box-shadow: 0 0 0 0 rgba(173, 79, 80, 0.4);}
  70% {-moz-box-shadow: 0 0 0 10px rgba(173, 79, 80, 0);
      box-shadow: 0 0 0 10px rgba(173, 79, 80, 0);}
  100% {-moz-box-shadow: 0 0 0 0 rgba(173, 79, 80, 0);
      box-shadow: 0 0 0 0 rgba(173, 79, 80, 0);}
}

/****** BOUNCE 1 *******/ 

@keyframes bounce_1 {
  0% {transform: translateY(0px);}
  30% {transform: translateY(-40px);}
  50% {transform: translateY(0px);}
  70% {transform: translateY(-20px);}
  80% {transform: translateY(0px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}
@-moz-keyframes bounce_1 {
  0% {transform: translateY(0px);}
  30% {transform: translateY(-40px);}
  50% {transform: translateY(0px);}
  70% {transform: translateY(-20px);}
  80% {transform: translateY(0px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}
@-webkit-keyframes bounce_1 {
  0% {transform: translateY(0px);}
  30% {transform: translateY(-40px);}
  50% {transform: translateY(0px);}
  70% {transform: translateY(-20px);}
  80% {transform: translateY(0px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

.animate_bounce_1{
  animation: bounce_1 0.5s;
}

/******** HELP MODULE *******/
.help_container{
    margin-top: 20px;
}

/****** NO Orders Wrap ****/

.noDataWrap{
  width: 100%;
  text-align: center;
}
.noDataWrap>img{
  width: 170px;
  animation: heartbeat 1s;
}
.noDataWrap>p{
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*****************************************/
/************** OPTIONFY *****************/
/*****************************************/

.optionfy{
  border-radius: 10px;
  position: relative;
  padding: 0px;
  margin: 5px auto;
  text-align: center;
  font-size: 14px;
  width: fit-content;
  display: block;
}
.optionfy div{
  display: inline;
  float: left;
  padding: 5px 10px;
  cursor: pointer;
  height: 17px;
  line-height: 19px;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  font-weight: 600;
  color: #333;
}
.optionfy div:hover{
  background-color: #efefefef;
}
.optionfy div.active{
  background-color: #00bb7d;
  color: #ffffff;
}
.optionfy div:first-child{
  border-left: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.optionfy div:last-child{
  border-right: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.optionfy:after{
  content: '';
  clear: both;
  display: block;
}



/* 
 * ::::::::::::::::::::::::::::::::::::::::::::::
 * ::::: INFO BOX (TOOLTIP TO GIVE INFO) ::::::::
 * ::::::::::::::::::::::::::::::::::::::::::::::
*/

/* HTML -> <button class="infobox"><div>Prueba 2</div><i class="far fa-question-circle"></i></button> */

.infobox{
border: 0;
color: #333333;
width: 22px;
background: transparent;
font-size: 20px;
padding: 0;
border-radius: 50%;
cursor: pointer;
outline: none !important;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
position: relative;
}
.infobox.bg_luca{
  background: linear-gradient(to left, rgba(0,187,125,0.3), rgba(0,180,173,0.6));
}
.infobox>div{
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  height: auto;
  padding: 10px 10px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 13px;
  color: #555555;
  transition: all 0.4s;
  font-weight: lighter;
  opacity: 0;
  z-index: 1;
  display: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.infobox>div::before{
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: #ffffff;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-radius: 2px;
}
.infoboxOpen{
  opacity: 1;
}

/*****************************************/
/**************TOGGLE SWITCH *************/
/*****************************************/

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(to left, #00bb7d, #00b4ad);
}

input:focus + .slider {
  box-shadow: 0 0 1px #00bb7d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}



/***************************************/
/********** FORM STYLE CLASS ***********/
/***************************************/

.form_style_1{
	padding: 5px;
	margin-top: 30px;
}
/* Titulo pricipal con H1*/
.form_style_1>h1{
	font-size: 20px;
	color: #191919;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
/* Titulo secundario con H2 */
.form_style_1>h2{
	font-size: 15px;
	color: #666666;
	font-weight: normal;
	margin-bottom: 20px;
}
/* En Prueba: Mensaje de Error */
.form_style_1>h3{
	font-weight: lighter;
	font-size: 13px;
	margin-bottom: 15px;
	color: white;
	background-color: firebrick;
	max-width: 300px;
	padding: 7px 10px;
	border-radius: 10px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	display: none;
}
.form_style_1>h3>i{
	font-size: 20px;
	padding-right: 20px;
}
.form_style_1>input[type=password], 
	.form_style_1>input[type=text], 
	.form_style_1>input[type=email], 
	.form_style_1>input[type=tel], 
	.form_style_1>input[type=date]{
	font-size: 16px;
	width: 100%;
	max-width: 300px;
	height: 50px;
	margin-bottom: 10px;
	padding: 0 15px;
	box-sizing : border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 2px solid var(--ColorInputBorderInActive);
	border-radius: 5px;
	color: #666666;
	font-weight: lighter;
	display: block;
	margin: 1px auto 10px auto;
}
.form_style_1>input[type=password]:focus, 
.form_style_1>input[type=text]:focus, 
.form_style_1>input[type=email]:focus, 
.form_style_1>input[type=tel]:focus, 
.form_style_1>input[type=date]:focus{
	outline: none;
	border: 2px solid var(--ColorInputBorderActive);
}

.form_style_1>input[type=submit], 
.form_style_1>input[type=button]{
	max-width: 300px;
	width: 100%;
	color: #ffffff;
	font-size: 17px;
	border:none;
	border-radius: 7px;
	background-color: var(--ColorBtns);
	letter-spacing: 2px;
	cursor: pointer;
    outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 13px 10px;
	display: block;
	margin: 20px auto 10px auto;
}

.form_style_1>input[type=submit]:hover, 
.form_style_1>input[type=button]:hover{
	background-color: var(--ColorBtns_hov);
}

.form_style_1>select{
	width: 100%;
	height: 50px;
	position: relative;
	font-size: 15px;
	max-width: 500px;
	margin-bottom: 10px;
	padding: 0 15px;	
	background-color: white;
	border: 2px solid var(--ColorInputBorderInActive);
	border-radius: 5px;
	color: #666666;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.form_style_1>select:focus{
	outline: none;
	border: 2px solid var(--ColorInputBorderActive);
}

/********* END OF FORM STYLE CLASS ***********/

/****************************************************************/
/********************* POP UP WINDOW ****************************/
/****************************************************************/

.msg-box-container{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	top:0;
	left: 0;
	z-index: 20;
	display: none;
}
.msg-box-1{
	position: fixed;
	width: 95%;
	max-width: 450px;
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 5px;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	z-index: 19;
	padding: 30px 20px;
	box-sizing: border-box;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 90%;
	animation: zoomin_modal 0.6s;
}

.msgb-box-2-title{
	font-size: 20px;
	color: #191919;
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: 300;
	width: 100%;
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
}
.msgb-box-1-exit-mark{
	font-size: 15px;
	color: #666;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	padding: 7px;
	font-weight: normal;
	z-index: 1;
}
.msg-box-1-description{
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 25px;
    font-weight: 300;
}
.msg-box-1-description>a{
    color: var(--ColorHypLinkMain);
    text-decoration: none;
}
.msg-box-1-description>a:hover{
    text-decoration: underline;
}
.msg-box-1-footnone{
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    line-height: 25px;
    color: #666;
    max-width: 350px;
}
.msg-box-1-footnone>a{
    color: var(--ColorHypLinkMain);
    text-decoration: none;
}
.msg-box-1-footnone>a:hover{
    text-decoration: underline;
}

.msg-box-1-sectionsty1 div.ss1_title{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 600;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    color: #333;
}
.msg-box-1-sectionsty1 div.ss1_content{
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
}
.msg-box-1-sectionsty1 div.ss1_content_table{
    display: table;
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
    text-align: center;
}
.msg-box-1-sectionsty1 div.ss1_content_table div{
    display: inline-table;
    text-align: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    animation-duration: 0.4s;
    animation-name: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 1px;
}
.msg-box-1-sectionsty1 div.ss1_content_table div img{
    min-width: 45px;
    max-width: 75px;
}
.msg-box-1-sectionsty1 div.ss1_content_table div p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 15px;
    padding: 0px 5px;
}

.opt_selected:before{
    position: absolute;
    background-color: var(--greenluca);
    padding: 0;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    animation: heartbeat 0.4s;
    top: 0px;
    left: -3px;
    width: 25px;
    height: 25px;
    content: '';
}
.opt_selected:after{
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    width: 4px;
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    top: 5px;
    left: 5px;
    content: '';
    border-collapse: collapse;
}

.counter_item_add{
	position: absolute;
	font-size: 17px;
	background-color: var(--greenluca);
	padding: 0;
	border-radius: 50%;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	display: none;
	animation: heartbeat 0.4s;
	top: -10px;
	left: -10px;
    width: 30px;
	height: 30px;
}

.msg-box-1-optionbox-container{
	position: relative;
	text-align: center;
	display: block;
	margin: 0px 0px 20px 0px;
}
.msg-box-1-optionbox{
	height: 160px;
	width: 140px;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #efefef;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: 15px 10px;
	display: inline-table;
}
.msg-box-1-optionbox-hrz{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 20px auto 10px auto;
    display: table;
    max-width: 300px;
    position: relative;
}
.msg-box-1-optionbox:hover, .msg-box-1-optionbox-hrz:hover{
	border: 1px solid var(--greenluca);
}
.msg-box-1-optionbox-hrz>img{
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}
.msg-box-1-optionbox>img{
	width: 90%;
	max-width: 70px;
	display: block;
	margin: 5px auto 10px auto;
}
.msg-box-1-optionbox-hrz>p{
    width: 60%;
    display: table-cell;
    font-size: 13px;
    font-weight: 300;
    color: #272727;
    line-height: normal;
    vertical-align: middle;
}
.msg-box-1-optionbox>p{
	width: 100%;
	display: block;
	font-size: 13px;
	font-weight: 300;
	color: #272727;
	line-height: 20px;
}

.msg-box-1>form{
	text-align: center;
}
.msg-box-1>form>input[type=text],
.msg-box-1>form>input[type=email],
.msg-box-1>form>input[type=password],
.msg-box-1>form>input[type=tel],
.msg-box-1>form>input[type=date],
.msg-box-1>form>input[type=number],
.msg-box-1-textarea,
.msg-box-1-input{
	font-size: 16px;
	width: 100%;
	max-width: 400px;
	height: 55px;
	margin-bottom: 10px;
	padding: 0 15px;
	box-sizing : border-box; 
	border: 2px solid var(--ColorInputBorderInActive);
	border-radius: 5px;
	color: #333333;
	-webkit-appearance: none;
	-moz-appearance: none;
	letter-spacing: 1px;
	font-weight: 300;
}
@media only screen and (max-width: 414px){
	.msg-box-1>form>input[type=text],
	.msg-box-1>form>input[type=email],
	.msg-box-1>form>input[type=password],
	.msg-box-1>form>input[type=tel],
	.msg-box-1>form>input[type=date],
	.msg-box-1>form>input[type=number],
	.msg-box-1-textarea,
	.msg-box-1-input{
		font-size: 14px;
	}
}
.msg-box-1>form>input[type=text]:focus,
.msg-box-1>form>input[type=email]:focus,
.msg-box-1>form>input[type=password]:focus,
.msg-box-1>form>input[type=tel]:focus,
.msg-box-1>form>input[type=date]:focus,
.msg-box-1>form>input[type=number]:focus,
.msg-box-1-textarea:focus,
.msg-box-1-input:focus{
	outline: none;
	border: 2px solid var(--ColorInputBorderActive);
}
.msg-box-1-textarea{
	height: auto !important;
	padding: 10px 15px !important;
	resize: none;
}
.msg-box-1>form>input[type=reset], .msg-box-1 input[type=reset]{
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-weight: 300;
    color: #666;
    text-align: right;
    text-decoration: underline;
    width: 100%;
    outline: none;
}
.msg-box-1>form>input[type=reset]:hover, .msg-box-1 input[type=reset]:hover{
    color: #333;
}
.msg-box-1>form>input[type=submit]{
	width: 250px;
	height: 55px;
	max-width: 350px;
	color: #ffffff;
	font-size: 17px;
	border:none;
	border-radius: 7px;
	background-color: var(--ColorBtns);
	letter-spacing: 2px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 13px 10px;
	margin-top: 25px;
	outline: none;
}
.msg-box-1>form>input[type=submit]:hover{
	background-color: var(--ColorBtns_hov);
}
.msg-box-1-reg>a{
	color: var(--ColorHypLinkMain);
}
.msgb-box-1-title{
	font-size: 37px;
	color: #191919;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
}
.msg-box-1-reg{
	color: #666666;
	font-size: 13px;
	margin-top: 40px;
	font-weight: 300;
}
.msg-box-1-reg>a:hover{
	color: #00ce89;
}
.msg-box-1-forgotpass{
	text-align: right;
	font-size: 13px;
	width: 100%;
	max-width: 400px;
	padding: 0px;
	box-sizing: border-box;
}
.msg-box-1-forgotpass>a{
	color: #666666;
	font-weight: 300;
}
.msg-box-1-forgotpass>a:hover{
	color: #191919;
}
#login-pass{
	margin-bottom: 1px;
}

.msg-box-1>form>select{
	width: 100%;
	height: 55px;
	position: relative;
	font-size: 15px;
	max-width: 500px;
	margin-bottom: 10px;
	padding: 0px 15px;	
	background-color: white;
	border: 2px solid var(--ColorInputBorderInActive);
	border-radius: 5px;
	color: #666666;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.msg-box-1>form>select:focus{
	outline: none;
	border: 2px solid var(--ColorInputBorderActive);
}
.msg-box-1>form>h4, .msg-box-1 h4{
	text-align: left;
}
.msg-box-1>form>h5{
	font-weight: 300;
	color: var(--ColorHypLinkMain);
	text-decoration: underline;
	transform: translateY(-25px);
	cursor: pointer;
	font-size: 12px;
	position: absolute;
	right: 25px;
}
.submit_btn_wide{
	width: 100% !important;
	border-radius: 0px !important;
	position: fixed !important;
	bottom: 0 !important;
	left: 0 !important;
	max-width: 100% !important;
}

.icon_selection_btn{
	width: 70px;
	cursor: pointer;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	margin: 10px auto 10px auto;
	display: block;
}
.icon_selection_btn:hover{
	transform: scale(1.03);
}

.checkboxCont{
  text-align: left;
  padding: 0 10px;
  font-size: 15px;
  font-weight: lighter;
  color: #333333;
  width: 100%;
}
/* ERROR MESSAGE 
	Se dispara usando: 
		ErrorMsgModalBox(action, id_object, msg, timeout=10000);
	y en html: 
		<span class="errorMsg" id="id_object"></span>
	Ejemplo: 
		<span class="errorMsg" id="errorMsgNewProduct"></span>;
		ErrorMsgModalBox('open','errorMsgNewCustomer','Fecha de nacimiento incorrecta');
*/
.errorMsg{
    width: 80%;
    max-height: 0;
    margin: 0;
    padding: 0; 
    background-color: var(--ColorError);
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    transition: max-height 0.3s ease;
    -webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: block;
    color: #ffffff;
    border-radius: 3px;
    line-height: 20px;
}
.errorMsgDisplay{
    max-height: 300px;
    margin: 20px auto 10px auto;
    padding: 10px 5px; 
}


/* SIMPLE MESSAGE CLICKABLE
	Se dispara utilizando:
		SimpleMsgModalBox(action, id_object, msg, timeout=10000);	
	y HTML: 
		<span class="simpleMsg" id="id_object"></span>
	Ejemplo: 
		<span class="simpleMsg" id="simpleMsgNewCustomer"></span>
		SimpleMsgModalBox('open','simpleMsgNewCustomer','Ya existe un cliente registrado con el email');
*/ 
.simpleMsg{
    width: 80%;
    max-height: 0;
    margin: 0;
    padding: 0; 
    background-color: var(--ColorSuccess);
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    transition: max-height 0.3s ease;
    -webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: block;
    color: #ffffff;
    border-radius: 3px;
    line-height: 20px;
    cursor: pointer;
}
.simpleMsgDisplay{
    max-height: 300px;
    margin: 20px auto 10px auto;
    padding: 10px 5px; 
}


/* RED NOTIFICATION LIKE NUMBER OF MESSAGES IN IPHONE */
/* se usa con un parent relative y overflow no hidden

	JS:
		 $("#_ID_").addClass("noty_show");
	HTML:
		<span class="noty_square noty_top_left noty_luca noty_clickable" id="num_luca_points">0</span>
	
 */
 .noty_circle, .noty_square{
 	display: none;
	position: absolute;
	background: #27272727;
	color: #ffffff !important;
	font-size: 13px !important;
	font-weight: 600;
	text-align: center;
	z-index: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	animation-duration: 0.4s;
  animation-name: heartbeat;
 }
.noty_circle{
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  padding: auto;
}
.noty_square{
  height: 30px;
	max-width: 60px;
	padding: 0 7px;
	line-height: 30px;
	border-radius: 15px;
}
.noty_clickable{
	cursor: pointer;
}
.noty_show{
 	display: block;
 }
.noty_xs{
  height: 20px !important;
  width: auto;
  line-height: 20px !important;
}
.noty_top_right{
	top: -15px;
	right: -15px;
}
.noty_top_left{
	top: -15px;
	left: -15px;
}
.noty-top_right_inside{
    top: 3px;
    right: 3px;
}
.noty-top_left_inside{
    top: 3px;
    left: 3px;
}
.noty_red{
	background: var(--ColorError);
}
.noty_luca{
	background: var(--greenluca);
}
.noty_grey{
  background: #ccc !important;
}
.noty_check_mark{
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    width: 4px;
    height: 13px;
    position: absolute;
    transform: rotate(45deg) translate(-50%,-50%);
    top: 50%;
    right: 50%;
    display: none;
}
.animate_shake{
    animation: shake_rotate 0.3s infinite;
}

/* RADIO BUTTON STYLE */
.container_radiobtn{
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container_radiobtn input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.container_radiobtn img{
	width: 60px;
}
.radiobtnstl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #eee;
  outline: none;
}
.radiobtnstl_checkbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 0%;
  background-color: #eee;
  outline: none;
}
.container_radiobtn:hover input ~ .radiobtnstl {
    background-color: #ccc;
}
.container_radiobtn input:checked ~ .radiobtnstl {
    background-color: var(--ColorRadiobtnChecked);
}
.radiobtnstl:after {
    content: "";
    position: absolute;
    display: none;
}
.container_radiobtn input:checked ~ .radiobtnstl:after {
  display: block;
}
.container_radiobtn .radiobtnstl:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* HORIZONTAL DIVISION */
.horizDivide{
    width: 60%;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin: 25px auto;
}

/* ARROW TO GO PREVIOUS */
/* HTML: 
	<span class="mdi mdi-chevron-left previous_arrow" id="_ID_">></span>
*/
.previous_arrow{
	position: absolute;
	left: 3px;
	font-size: 27px;
	color: #666;
	cursor: pointer;
	font-weight: lighter;
	top: 50%;
	transform: translateY(-50%);
}


/* Input seguido de botones de opciones (Span) */
.inputBoxOptions{
	display: table;
	text-align: left;
	position: relative;
	width: 100%;
}
.inputBoxOptions>span, .inputBoxOptions>input{
	display: table-cell;
}
.inputBoxOptions>input{
	width: 100%;
}
.inputBoxOptions>span{
	cursor: pointer;
	width: 15%;
	text-align: center;
	height: 55px;
	vertical-align: middle;
	position: relative;
}
.inputBoxOptions>span.checked:after{
	content: "\2714";
	position: absolute;
	top: -10px;
	right: -5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--ColorRadiobtnChecked);
	color: #ffffff;
	font-size: 15px;
	line-height: 25px;
	animation: heartbeat 0.6s;
}
.inputBoxOptions>span>img{
	width: 35px;
	/*border: 1px solid #efefef;*/
	padding: 9px;
	border-radius: 10px;
	box-sizing: content-box;
}
.inputBoxOptions>span>img:hover{
	border: 1px solid var(--greenluca);
}


/********** END LOGIN POP UP WiNDOW **********/


/***********************************************/
/********* PRELOGOS MODAL CONTAINER ************/
/***********************************************/

.container_prelogos_back{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	top:0;
	left: 0;
	z-index: 50;
	display: none;
}

.container_prelogos{
	position: fixed;
	width: 95%;
	max-height: 95%;
	height: auto;
	max-width: 650px;
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 5px;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	z-index: 49;
	padding: 25px 20px;
	box-sizing: border-box;
	display: none;
	overflow-y: auto;
    overflow-x: hidden;
}

.container_prelogos_i1{
	padding: 10px;
	text-align: center;
}

.select_list_1{
	width: 100%;
	height: 55px;
	position: relative;
	font-size: 15px;
	max-width: 500px;
	margin-bottom: 10px;
	padding: 0px 15px;	
	background-color: white;
	border: 2px solid var(--ColorInputBorderInActive);
	border-radius: 5px;
	color: #666666;
	cursor: pointer;
	-webkit-appearance:none;
    box-sizing: border-box;
}
.select_list_1:focus{
	outline: none;
	border: 2px solid var(--ColorInputBorderActive);
}

.container_prelogos_i2{
	height: auto;
	width: 100%;
	border: 1px solid #c3c3c3;
	overflow-y: auto;
    overflow-x: hidden;
	min-height: 200px;
	max-height: 400px;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.03);
	border-radius: 5px;
}
.container_prelogos_i2>img{
	margin: 5px;
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 5px;
	padding: 7px;
	cursor: pointer;
	box-sizing: border-box;
}
.container_prelogos_i2>img:hover{
	background-color: rgba(0,0,0,0.05);
	border: 1px solid #c3c3c3;
}

.prelogos-exit-mark{
	font-size: 15px;
	color: #666;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	padding: 7px;
	font-weight: normal;
}
/***********************************************/
/*************** END PRELOGOS CONTAINER *******************/
/***********************************************/


/*::::::::::::::::::::: MAINROLLER LOADING ::::::::::::::::::::::::::*/

.MainRoller_background{
    position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	top:0;
	left: 0;
	z-index: 500;
}
.RollerMain_cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.RollerMainText{
    margin: 20px auto;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    color: #ffff;
    letter-spacing: 2px;
    text-align: center;
}
.LoadingRoller{
	width: 100%;
	height: auto;
	text-align: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: linear-gradient(to left, var(--greenluca), var(--scnd_greenluca));
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@-moz-keyframes lds-roller {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes lds-roller {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes lds-roller {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/*:::::::::::::::::: LOADING BARS :::::::::::::::::::::*/

.bar_loading_cont{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  z-index: 500;
  display: block;
}
.bar_loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.bars_wrap{
  text-align: center;
}
.bar{
  width: 10px;
  height: 60px;
  background-color: transparent;
  display: inline-block;
  border-radius: 2px;
  transform-origin: bottom center;
  -moz-animation: bar_loading 1.7s ease-out infinite;
  -webkit-animation: bar_loading 1.7s ease-out infinite;
  animation: bar_loading 1.7s ease-out infinite;
}
.bar1{-webkit-animation-delay: 0.1s;-moz-animation-delay: 0.1s;animation-delay: 0.1s;}
.bar2{-webkit-animation-delay: 0.2s;-moz-animation-delay: 0.2s;animation-delay: 0.2s;}
.bar3{-webkit-animation-delay: 0.3s;-moz-animation-delay: 0.3s;animation-delay: 0.3s;}
.bar4{-webkit-animation-delay: 0.4s;-moz-animation-delay: 0.4s;animation-delay: 0.4s;}
.bar5{-webkit-animation-delay: 0.5s;-moz-animation-delay: 0.5s;animation-delay: 0.5s;}
.bar6{-webkit-animation-delay: 0.6s;-moz-animation-delay: 0.6s;animation-delay: 0.6s;}

.bar_ld_msg{
  text-align: center;
  color: #FFFFFF;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
}

@-moz-keyframes bar_loading{
  0%{
    -moz-transform: scaleY(0.1); 
    -webkit-transform: scaleY(0.1); 
    transform: scaleY(0.1); 
    background: #FFFFFF;
  }
  50%{
    -moz-transform: scaleY(1); 
    -webkit-transform: scaleY(1);
    transform: scaleY(1);  
    background: #2ecc71;
  }
  100%{
    -moz-transform: scaleY(0.1); 
    -webkit-transform: scaleY(0.1); 
    transform: scaleY(0.1);   
    background: transparent;
  }
}
@-webkit-keyframes bar_loading{
  0%{
    -moz-transform: scaleY(0.1); 
    -webkit-transform: scaleY(0.1); 
    transform: scaleY(0.1); 
    background: #FFFFFF;
  }
  50%{
    -moz-transform: scaleY(1); 
    -webkit-transform: scaleY(1);
    transform: scaleY(1);  
    background: #2ecc71;
  }
  100%{
    -moz-transform: scaleY(0.1); 
    -webkit-transform: scaleY(0.1); 
    transform: scaleY(0.1);   
    background: transparent;
  }
}
@keyframes bar_loading{
  0%{
    -moz-transform: scaleY(0.1); 
    -webkit-transform: scaleY(0.1); 
    transform: scaleY(0.1); 
    background: #FFFFFF;
  }
  50%{
    -moz-transform: scaleY(1); 
    -webkit-transform: scaleY(1);
    transform: scaleY(1);  
    background: #2ecc71;
  }
  100%{
    -moz-transform: scaleY(0.1); 
    -webkit-transform: scaleY(0.1); 
    transform: scaleY(0.1);   
    background: transparent;
  }
}


/*:::::::::::: END OF LOADINGS ::::::::::::::::::*/



.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--greenluca);
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px var(--greenluca);
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--greenluca);
  }
}
/******** END SPINNER DONE **********/


/******* NO INTERNER CONNECTION *******/
.OffLineMsg{
position: fixed;
top: -40px;
height: 40px;
width: 100%;
background-color: #25282E;
max-width: 190px;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
color: #ffffff;
z-index: 50;
display: block;
text-align: center;
font-size: 14px;
line-height: 40px;
left: 50%;
transform: translateX(-50%);
transition: all 0.5s ease;
overflow: hidden;
cursor: pointer;
}
.OffLineMsg>div{
background-color: var(--ColorError);
border-radius: 50%;
height: 15px;
width: 15px;
margin: 0px;
display: inline-block;
margin-right: 20px;
animation: pulseRed 2s infinite;
}
.OffLineMsg>div, .OffLineMsg>p, .OffLineMsg>span{
display: inline-block;
}
.OffLineMsg>span{
margin-left: 7px;
}
.OffLineMsgOpen{
top: 0px !important;
}

@media only screen and (max-width: 550px){
  .OffLineMsg{max-width: 55px;}
  .OffLineMsg>p, .OffLineMsg>span {display: none;}
  .OffLineMsg>div{padding: 0; margin: 0;}
}


/****************************************************/
/******************* MENU BAR APP *******************/
/****************************************************/

.MenuNavgBtn{
	height: 50px;
  width: 50px;
  background-color: #25282E;
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  top: 60px;
  left: 25px;
  border-radius: 50%;
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.30);
  transition: all 0.5s ease;
  text-align: right;
  line-height: 50px;
  padding-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;
  transform: translateX(270px);
}
.MenuNavgBtnOpen{
	left: -3px;
	background-color: transparent;
	box-shadow: none;
  top: 0px;
  transform: translateX(0px);
}
.MenuNavg{
  height: 100%;
  background-color: #25282E;
  position: fixed;
  top: 0;
  width: 270px;
  left: -50px;
  transform: translateX(-270px);
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.30);
  z-index: 1;
  -webkit-transition: transform .25s cubic-bezier(0.4,0.0,0.2,1);
  transition: transform .25s cubic-bezier(0.4,0.0,0.2,1);
}
.MenuNavgActive{
  left: 0px !important;
  transform: translateX(0px);
}
.MenuNavg div{
  position: relative;
  width: 100%;
}
.FirstMenuBlock{
	margin-top: 60px;
}
.MenuNavg div div{
	text-align: left;
	display: block;
	position: relative;
}
.MenuNavg div div div{
  text-align: left;
  cursor: pointer;
  margin: 0;
  padding: 10px 15px 15px 25px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.MenuNavg div div div:hover{
	background-color: #efefef;
}
.MenuNavg div div div span{
	font-size: 25px;
	color: #ffffff;
}
.MenuNavg div div div p{
  display: inline;
  color: #ffffff;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  vertical-align: middle;
}
.MenuNavg div div div:hover > span, .MenuNavg div div div:hover > p{
  color: #25282E;
}
.MenuNavg div div div span:hover, .MenuNavg div div div p:hover{
	color: #25282E;
}
.MenuOptionActive{
 	color: var(--scnd_greenluca) !important;
}
.MenuDivier{
  width: 80% !important;
  height: 1px;
  margin: 8px auto;
  background-color: white;
}
.ErrorInputStyle{
    border: 2px solid var(--ColorError) !important;
}

#new_pass_1{
    margin-bottom: 20px !important;
}

/******* Check Password Strength ******/
.pass_strg_cont{
    height: 0px;
    width: 100%;
    /*border:1px solid #efefef;*/
    margin: -10px 0 10px 0;
    padding: 0px 0px;
    line-height: 10px;
    transition: all 0.15s ease-out;
}
#reg-pass:focus + .pass_strg_cont,
#new_pass_1:focus + .pass_strg_cont{
    height: 10px;
    padding: 7px 0px;
    transition: all 0.30s ease-in;
}
#reg-pass:focus + .pass_strg_cont>p,
#new_pass_1:focus + .pass_strg_cont>p{
    display: block;
}
.pass_strg_cont_bar{
    height: 100%;
    width: 200px;
    background-color: #cdcdcd;
    border-radius: 7px;
    float: left;
}
#pass_lvl_bar{
    height: 100%;
    width: 40px;
    background-color: #de5e5e;
    border-radius: 7px;
    transition: all 0.50s ease-out;
}
.pass_strg_cont>p{
    font-size: 13px;
    padding-left: 5px;
    display: none;
    float: left;
}
/***************************/


/***************************************************/
/******************** DATA STYLE *******************/
/***************************************************/

/* Cifras grandes con lable (EJ: Analitica Cliente) */

.Data1_Style, .Data2_Style{
    display: table;
    width: 100%;
}
.Data1_Style>div, .Data2_Style>div{
    display: table-cell;
    text-align: center;
    padding: 10px 5px;
    position: relative;
}
.Data1_Style>div p:first-child{
    font-size: 25px;
    font-weight: lighter;
}
.Data1_Style>div p:nth-child(2){
    font-size: 13px;
    font-weight: 600;
    color: #333;
}
.Data1_Style>div p:first-child span:nth-child(2){
    font-size: 15px;
}
.Data1_Style>div img{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    display: none;
    animation-duration: 0.4s;
  	animation-name: heartbeat;
}
.Data2_Style>div>img{
    width: 80px;
    margin-bottom: 1px;
}
.Data2_Style>div>p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 15px;
    padding: 0px 5px;
}


/*************************************/
/******** ITEMS IN BILL MODAL ********/
/*************************************/

.items_bill_cont {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px 0px;
    background: #efefef;
}
.items_bill_wrap {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.item_bill_row {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 10px 5px;
    box-sizing: border-box;
    position: relative;
    display: table;
    margin-bottom: 5px;
    cursor: pointer;
}
.item_bill_icon{
    display: table-cell;
    padding: 0px 5px;
    vertical-align: middle;
    text-align: center;
    width: 20%;
}
.item_bill_icon img {
    width: 55px;
}
.item_bill_data {
    display: table-cell;
    position: relative;
    width: 80%;
    vertical-align: middle;
}
p.ib_id {
    font-size: 12px;
    color: #999999;
    font-weight: 600;
}
p.ib_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}
.ibd_c1 {
    font-size: 14px;
    font-weight: lighter;
    display: table;
    width: 100%;
}
.ibd_c11, .ibd_c12 {
    padding: 0px 7px;
    display: table-cell;
    text-align: center;
}
.ibd_c13{
    padding: 0px 2px !important;
    display: table-cell;
    text-align: center;
}


/*****  COUNTRIES SELECT OPTION  ***/
.select_country_sty{
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 55px;
    background-position: 10px;
} 


/***** DISABLE ELEMET ****/
.disabled{
  pointer-events: none !important;
  opacity: 0.3 !important;
}

/**** PAYMENY MODAL *******/
.py_cc_data_cont, .py_tit_data_cont{
  margin-bottom: 30px;
}
.py_cc_data div{
  display: inline-block;
  padding-right: 20px;
}
.py_cc_data input{
  width: 110px;
  text-align: center;
  display: inline-block;
}
.py_cc_data p{
  display: inline-block;
  text-align: center;
  padding: 0px 10px;
}
.banner_epayco{
  width: 100%;
  text-align: left;
  margin-top: 15px;
}
.banner_epayco img{
  width: 110px;
}
.paym_info_box{
  width: auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
  display: table;
  position: relative;
  margin: 25px 0px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.paym_info_box div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.paym_info_box div:first-child{
  width: 30%;
  padding: 7px;
}
.paym_info_box div:first-child img{
  width: 100px;
}
.paym_info_box div:nth-child(2){
  width: 70%;
  padding-left: 10px;
}
.paym_info_box div:nth-child(2) p:first-child{
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
}
.paym_info_box div:nth-child(2) p:nth-child(2){
  font-size: 15px;
  font-weight: lighter;
  color: #777777;
}

.input_crcd{
  background-image: url(https://www.2luca.co/icons/SVG/44-money/credit-card.svg);
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 35px;
  padding-left: 53px;
}

/**********+***** AIR MENU ****************/
.airmenu_cont{
  position: relative;
}
.airmenu_cont>i, .airmenu_cont>span{
  color: #333333;
  padding: 10px;
}
.airmenu_cont>img{
  cursor: pointer;
  width: 30px;
}
.airmenu_cont i, .airmenu_cont span{
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.airmenu_cont i:hover, .airmenu_cont span:hover{
  transform: scale(1.2);
}
.airmenu_menu{
  position: absolute;
  background: #00bb7d;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 10px;
  left: 50%;
  transform: translateY(12px) translateX(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  display: none;
  z-index: 3;
  box-shadow: 0px 5px 15px -5px #000006;
}
.airmenu_menu.gray{
  background: #999999 !important;
}
.airmenu_menu.gray::before{
  background: #999999 !important;
}
.airmenu_menu.red{
  background: #ad4f50 !important;
}
.airmenu_menu.red::before{
  background: #ad4f50 !important;
}
.airmenu_menu.black{
  background: #333333 !important;
}
.airmenu_menu.black::before{
  background: #333333 !important;
}
.airmenu_menu::before{
  content:'';
  position: absolute;
  top: -5px;
  width: 15px;
  height: 15px;
  background: #00bb7d;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: 1;
}
.airmenu_menu div{
  padding: 5px;
  cursor: pointer;
}


/* MODAL STYLE LIST OBJECTS */
.box-wrap-list{
  position: fixed;
  width: 95%;
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%;
  animation: zoomin_modal 0.6s;
}
.box-header-list{
display: flex;
justify-content: space-between;
background: linear-gradient(to left,#00bb7d,#00b4ad);
color: #ffffff;
line-height: 20px;
height: 50px;
align-items: center;
padding: 5px 10px;
}
.box-header-list>div:nth-child(2){
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
}
.box-header-list>div:last-child div{
border: 1px solid #ffffff;
box-sizing: border-box;
border-radius: 50%;
width: 32px;
height: 32px;
text-align: center;
line-height: 27px;
margin-right: 7px;
font-size: 15px;
font-weight: lighter;
}
.box-content-list{
max-height: 250px;
overflow-y: auto;
overflow-x: hidden;
border-bottom: 1px solid #333333;
}
.box-content-list > div {
display: flex;
align-items: center;
justify-content: stretch;
border-bottom: 2px solid #333333;
line-height: 20px;
text-align: left;
}
.box-content-list > div > div:first-child{
border-right: 2px solid #333333;
padding: 15px 5px;
text-align: center;
}
.box-header-list > div:nth-child(1) > i{
  font-size: 22px;
}
.box-content-list > div > div:nth-child(1) > div > i{
  font-size: 20px;
  color: #333333;
}
.box-content-list > div > div:first-child div{
display: inline-block;
box-sizing: border-box;
margin: 5px 7px;
cursor: pointer;
}
.box-content-list > div > div:nth-child(2){
padding: 15px 15px;
color: #333333;
text-align: left;
font-weight: lighter;
cursor: default;
font-size: 15px;
}
.box-actions-list{
display: flex;
justify-content: center;
margin: 20px 10px;
}
.box-actions-list>div{
width: fit-content;
margin: 0px 10px;
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::: NOTIFY ALERT MSG :::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.notify_alert{
  position: fixed;
  bottom: -500px;
  left: 50%;
  margin: 0;
  transform: translate(-50%);
  background: rgba(50, 50, 50, 0.8);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-out;
  padding: 12px 20px;
  width: 95%;
  box-sizing: border-box;
  max-width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  z-index: 3000;
  display: none !important;
}
.notify_alert.open{
  display: block !important;
  bottom: 30px !important;
}
.notify_alert>span{
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
  padding: 0 12px 0 10px;
}
.na_title{
  font-weight: bold;
  margin-bottom: 5px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
.na_title>i{
  padding-right: 10px;
}
.na_msg{
  font-weight: lighter;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.DataSpcReport{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.DataSpcReport > div{
  text-align: center;
}

.DataSpcReport > div > p:nth-child(2){
  margin-top: 10px;
  color: #666;
  font-size: 15px;
}

#sp_rp_numCnt{
  font-size: 40px;
  font-weight: bold;
}

#sp_rp_amt{
  font-size: 40px;
  font-weight: bold;
}


/************ All Sales Customer Modal************/

.allord_wrap{
  display: block;
  max-height: 350px;
  border: 1px solid #777;
  overflow-x: auto;
  overflow-y: auto;
}
.allord_cont{
  width: 100%;
  font-size: 14px;
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
}
.con_bill_header{
  width: 100%;
  display: table;
  font-weight: 600;
  text-align: center;
}
.cbh1{
  width: 30%;
}
.cbh2{
  width: 35%;
}
.cbh3{
  width: 35%;
}
.con_bill_header>div{
  display: table-cell;
}
.con_bill_line{
  width: 100%;
  font-weight: lighter;
  display: inline-table;
  cursor: pointer;
}
.con_bill_line>div{
  display: table-cell;
  border-bottom: 1px solid #999;
  padding: 5px;
  background: #ffff;
}
.con_bill_aux{
  display: block;
  width: 100%;
  height: 0px;
  background: #efefef;
  transition: 0.4s height ease;
  overflow: hidden;
}
.con_bill_aux_opn{
  height: 140px !important;
}
.cba_row1, .cba_row2{
  display: inline-table;
  width: 100%;
  padding: 5px 0px;
}
.cba_row2>p{
  color: #ffffff;
  cursor: pointer;
  background: #00bb7d;
  max-width: 90%;
  width: 200px;
  border-radius: 7px;
  margin: auto;
  padding: 2px;
}
.cba_row1>div, .summ_bill_cons>div{
  display: table-cell;
  text-align: center;
  padding: 10px 0px;
}
.cba_row1>div p:first-child{
  font-size: 19px;
  font-weight: lighter;
}
.cba_row1>div p:nth-child(2){
  font-size: 14px;
  font-weight: 600;
}
.summ_bill_cons>div p:first-child{
  font-size: 22px;
  font-weight: lighter;
}
.summ_bill_cons>div p:nth-child(2){
  font-size: 15px;
  font-weight: 600;
}
.summ_bill_cons{
  margin-bottom: -15px; 
}

/******** ANALYTICS CARDS ******/

.segm_cust{
  width: 100%;
  margin-top: 15px;
}
.anal_subt{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  color: #333;
}
.segm_cust_box_cont{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 40%;
  padding-right: 10px;
  text-align: center;
}
.segm_cust_box{
  margin: 0px 10px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  max-width: 150px;
  width: 90%;
  text-align: center;
  padding: 2px 0px;
  font-weight: 600;
  line-height: 20px;
}
.segm_cust_desc{
  font-size: 14px;
  padding: 5px;
  font-weight: normal;
  text-align: center;
  display: table-cell;
  width: 60%;
  vertical-align: middle;
}
.segm_cust_box_cont>img{
  width: 55%;
}
.segm_cont{
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 5px;
  box-sizing: border-box;
  color: #ffffff;
}

.nba_cont{
  display: table;
  width: 100%;
  background: #ffffff;
  padding: 13px 0px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
}
.nba_cont>div:first-child{
  display: table-cell;
  width: 40%;
  text-align: center;
  vertical-align: middle;
}
.nba_cont>div:first-child>img{
  width: 100px;
  vertical-align: middle;
}
.nba_cont>div:nth-child(2){
  display: table-cell;
  width: 60%;
  vertical-align: middle;
  padding: 0px 7px;
}
.nba_cont>div:nth-child(2) p{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  line-height: 23px;
}
.nba_wrap{
  margin-top: 15px;
}
.descr_badge{
  padding: 20px 5px;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  background: #efefef;
  color: #333;
  line-height: 20px;
  animation-duration: 0.4s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.descr_badge>p{
  vertical-align: middle;
  width: 90%;
  margin: auto;
  max-width: 300px;
}
.badges_cust>div{
  cursor: pointer;
  animation-duration: 0.4s;
  animation-name: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.badge_selected{
 background: #efefef; 
 animation-name: heartbeat !important;
}
