body {
  background: #efefef !important;
}

.main_container {
  border-radius: 5px;
  width: 80%;
  height: auto;
  max-width: 750px;
  max-height: 95%;
  background-color: #fff;
  box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-collapse: collapse;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.reg_logo_cont {
  display: table-cell;
  vertical-align: top;
  width: 25%;
  text-align: center;
  padding: 40px 10px;
  /*border:1px solid #000;*/
}

.reg_logo_cont>a>img {
  width: 150px;
  padding-left: 40px;
  padding-right: 30px;
  cursor: pointer;
}

.reg_logo_cont>a {
  text-transform: none;
}

.reg_form_cont {
  display: table-cell;
  vertical-align: top;
  width: 75%;
  padding: 40px 35px 40px 20px;
}

.reg_form_cont>h1 {
  font-size: 27px;
  color: #191919;
  margin-bottom: 20px;
}

.reg_form_cont>h2 {
  font-size: 15px;
  color: #666666;
  font-weight: normal;
  margin-bottom: 30px;
}

.reg_form_cont>h2>span {
  color: #39ac95;
  cursor: pointer;
}

.btn_style_2 {
  color: #ffffff;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  background: var(--GradientLeftLuca);
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 13px 10px;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  height: 50px;
}

.btn_style_2:hover {
  background-color: #267363;
}

/* For Small Devices */
@media only screen and (max-width: 767px) {
  .main_container {
    width: 95%;
    height: auto;
    max-height: 95%;
    position: absolute;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .reg_logo_cont {
    width: 100%;
    text-align: center;
    display: block;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
  }

  .reg_logo_cont>a>img {
    width: 120px;
    padding-left: 0;
    padding-right: 0;
  }

  .reg_form_cont {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 30px 40px 30px;
  }

  .reg_form_cont>h1 {
    margin-bottom: 25px;
  }

}

/*  STEP INDICATOR */
.step_container {
  height: 10px;
  width: 100%;
  margin-top: 20px;
}

.step_container>ul {
  height: 10px;
  width: 90px;
  list-style: none;
  margin: auto;
  border-collapse: collapse;
}

.step_container>ul>li {
  line-height: 10px;
  width: 30px;
  float: left;
  text-align: center;
  color: transparent;
  font-weight: lighter;
  font-size: 13px;
}

.step_container>ul>li>p {
  width: 10px;
  border: 1px solid #666666;
  border-radius: 50%;
  background-color: white;
}

.step_active {
  /*color: #39ac95 !important;*/
  font-weight: bold !important;
}

.step_active>p {
  border: 1px solid #999999 !important;
  background-color: #999999 !important;
}

.form_wrap{
  text-align: center;
}