body{
    background: #fafafa !important;
}
.wrapper_grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 370px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    'header header'
    'search overview';
}
.main_bar{
    grid-area: header;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ededed;
    position: relative;
}
.main_cont{
    grid-area: search;
    background: #fafafa;
    padding: 20px 10px 40px 10px;
}
.main_overview {
    grid-area: overview;
    align-items: self-start;
    display: grid;
    gap: 10px;
    padding: 7px;
    grid-template-columns: 380px 1fr 1fr;
    grid-auto-rows: max-content;
}
.card {
    padding: 5px 15px 10px 15px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
    border-radius: 7px;
    max-width: 400px;
    font-weight: lighter;
    color: #444444;
}
@media screen and (min-width: 600px){
    .card-tall2{grid-row: span 2 / auto;}
    .card-tall3{grid-row: span 3 / auto;}
    .card-wide2{grid-column: span 2 /auto;}
    .card-wide3{grid-column: span 3 /auto;}
}

/* Cellphone */
@media only screen and (max-width: 425px) {
    .wrapper_grid{
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'search'
            'overview';
    }
    .main_overview{
        grid-template-columns: 95vw;
        grid-auto-rows: unset;
        margin: auto;
    }
}
/* Tablet */
@media only screen and (max-width: 768px) and (min-width: 426px) {
    .wrapper_grid{
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'search'
            'overview';
    }
    .main_overview{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: unset;
        margin: auto;
    }
}
/* Laptop M */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .main_overview{
        grid-template-columns: 1fr 1fr;
    }
}
/* Laptop L */
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .main_overview{
        grid-template-columns: 380px 1fr;
    }
}
/* Laptop XL */
@media screen and (min-width: 1441px) {
    .main_overview{
        grid-template-columns: 380px 1fr 1fr;
    }
}
  
.main_bar_wrap{
    position: relative;
    right: 7px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
.main_bar_wrap div{
    display: inline-block;
    margin: 10px;
    height: 100%;
    cursor: pointer;
}
.main_bar_wrap div img{
    width: 27px;
}
#search_bill{
    background-image: url('../icons/SVG/01-content-edition/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    background-size: 25px;
}
#select_type_search{
    max-width: 400px;
    height: 55px;
    background-image: url('../icons/SVG/41-shopping/receipt-4.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    background-size: 30px;
}
.header_bills{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.header_bills>h1{
    margin-bottom: 20px;
}
.header_bills_1, .header_bills_2{
    width: 300px;
    display: inline-block;
    padding: 10px 20px;
}
@media only screen and (max-width: 480px){
    .header_bills_1, .header_bills_2{
        width: 100%;
        padding: 0px;
    }
}
.header_bills_1>p:first-child, .header_bills_2>p:first-child{
    font-weight: 600;
    color: #333;
    letter-spacing: 1px;
    font-size: 14px;
}
.bills_wrap{
    width: 100%;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
}
.bills_summ_data{
    padding: 0 0px 20px 0px;
}
.bills_cont{
    height: auto;
    max-height: 550px;
    overflow-y: auto;
    position: relative;
    border: 1px solid #efefef;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
    background: #ffffff;
}
.bills_cont>table>thead>tr{
    position: relative;
}
.bills_cont>table>tbody>tr{
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.bills_cont>table>tbody>tr:hover{
    background: #efefef;
}
.bills_cont>table {
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  font-weight: lighter;
  table-layout: fixed;
}
.bills_cont>table>thead{
    border-bottom: 1px solid #dddddd;
}
.bills_cont>table>thead>tr>th{
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    z-index: 0;
    background: #FFFFFF;
}
.bills_cont>table>thead>tr>th, .bills_cont>table>tbody>tr>td {
  text-align: center;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cont_table_billsdata{
    display: block;
    overflow: auto;
    max-height: 500px;
}
.cont_table_billsdata>tr{
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}
/* .cont_table_billsdata>tr:hover, .cont_table_billsdata>tr:nth-child(even):hover{
   background-color: #DDDDDD;
} */
.cont_table_billsdata>tr:nth-child(odd):hover{
    background-color: #DDDDDD;
}
.icon_bill_paymtype>img{
    width: 30px;
}
.tr_deep_data{
    background-color: #efefef;
    border: none !important;
    display: none;
}
.tr_deep_data>td{
    padding: 0px !important;
}
.info_bill{
    text-align: left;
    padding: 0px;
    max-height: 0px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    overflow: hidden;
    width: 100%;
    cursor: default;
    background: #efefef;
}
.info_bill:hover{
    background-color: #efefef !important;
}
.info_bill_on{
    max-height: 900px !important;
    padding: 10px !important;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}
.info_bill_link{
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    background: #00bb7d;
    padding: 5px 10px;
    margin: 10px;
    max-width: 300px;
    border-radius: 10px;
    display: inline-block;
}
.info_bill_link:hover{
    background: #1BD68C;
}
.info_bill_link2{
    color: #00bb7d;
    font-weight: 600;
    cursor: pointer;
    padding: 0px 5px;
}
.info_bill_link2:hover{
    color: #1BD68C;
}
.info_bill_1{
    width: 100%;
    margin: 20px 10px;
    display: table;
}
.info_bill_gnrdata, .info_bill_other_data{
    width: 50%;
    display: table-cell;
    vertical-align: top;
}
.info_bill_other_data{
    margin-left: 25px;
}
.bill_info_vendor{
    margin-top: 15px;
}
.bill_info_vendor>img{
    width: 45px;
    vertical-align: middle;
    padding-right: 5px;
}
.filter_date_cont>p{
    font-size: 15px;
    padding: 5px 0px 0px 0px;
    font-weight: lighter;
    color: #666;
}
.filter_date_cont>div{
    width: 100%;
    display: block;
    padding: 10px 0px;
}
.filter_date_cont>div>p{
    font-size: 15px;
    font-weight: lighter;
    padding-bottom: 5px;
    text-align: left;
}
.filter_date_cont>div>input{
    width: 100%;
}
#filter_date_from_cont{
    animation: opacity_show 2s;
    display: none;
}
#filter_date_to_cont{
    animation: opacity_show 2s;
    display: none;
}
.preheader_table{
    width: 100%;
    position: relative;
    display: table;
}
.reset_filter_content{
    width: fit-content;
    display: table-cell;
    vertical-align: bottom;
}
.reset_filter{
    width: fit-content;
    height: auto;
    background: var(--ColorBtnRed);
    border-radius: 5px;
    padding: 2px 15px;
    margin: 10px 0px 10px 0px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    float: right;
}
.reset_filter span{
    padding-left: 10px; 
    font-size: 17px;
}

.bye_row{
    display: none;
}

.cmd_lnk{
    display: none;
}

.cmd_lnk>div{
    height: 10px !important;
    line-height: 10px !important;
    width: fit-content !important;
    font-size: 14px !important;
    margin: 0 !important;
}

@media only screen and (max-width: 480px){
    .bills_summ_data, .reset_filter_content{
        display: block;
    }
    .reset_filter{
        float: none;
    }
}

@media only screen and (max-width: 730px){
    .info_bill_1{
        display: block;
    }
    .info_bill_gnrdata, .info_bill_other_data{
        width: 100%;
        display: block;
    }
}


/************ Info Customer Card ************/

.panelcons_s1{
    margin: 25px 0px 0px 0px;
}
.panelcons_s2{
    margin-top: 25px;
}
.pn_1, .pn_2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pn_1{
    width: 30%;
}
.pn_2{
    width: 70%;
}
.pns2_a{
    width: 40%;
    border-right: 1px solid #ccc;
}
.s1_a{
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.s1_b{
    text-align: center;
}
.s1_c{
    text-align:center;
}
.s1_c>img{
    width: 95px;
}
.s1_b p:first-child{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 25px;
    line-height: 27px;
    text-transform: uppercase;
}
.s1_a>img{
    margin: 0px 5px;
    cursor: pointer;
}
.data_info_since{
    font-size: 14px;
    color: #999999;
    font-weight: lighter;
    text-align: center;
    width: fit-content;
    padding: 0 10px;
    margin: 0px auto 5px auto;
}
.data_info_lucapnt{
    font-size: 16px;
    background: var(--ColorBtns);
    color: white;
    text-align: center;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: default;
    margin: 0px auto 15px auto;
}
.data_info_hl, .label_n_data p:nth-child(2){
    font-size: 16px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.br_lnd{
    border-right: 1px solid #ccc;
}
.label_n_data{
    display: table-cell;
    padding: 0px 10px; 
    max-width: 100px;  
}
.label_n_data p:first-child{
    font-size: 15px;
    color: #999;
}
@media only screen and (max-width: 430px){
    .bill_nc_data{
        max-width: 50px;
    }
}
.pursh_line{
    margin: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 7px 3px;
    cursor: pointer;
}
.s3_a{
    margin-bottom: 25px;
}
.s3_a>img{
    margin:0px 1px 0px 5px;
}
.s3_a1{
    font-size: 20px;
    font-weight: lighter;
    display: table-cell;
    color: #333;
}
.s3_a2{
    cursor: pointer;
    font-size: 15px;
    color: green;
    text-decoration: underline;
    font-weight: lighter;
    display: table-cell;
    text-align: right;
}
.s3_a2:hover{
    color: rgb(0, 168, 0);
}
.panelcons_s4{
    text-align:center;
}
.panelcons_s4>button{
    margin: 10px;
    display: inline-block;
    max-width: 150px;
}
@media only screen and (max-width: 760px){
    .pn_1, .pn_2{
        display: block;
        width: 100%;
    }
}
.ordersCons_empty{
    text-align: center;
}
.ordersCons_empty>img{
    width: 80px;
    margin-bottom: 20px;
}
.ordersCons_empty>p{
    font-size: 16px;
    font-weight: lighter;
    color: #666;
}


/************************/
/**** CARDS STYLES ******/
/************************/

.card-header{
    width: 100%;
    padding: 0 10px;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    display: flex;
}
.card-header>div{
    font-size: 15px;
    margin-right: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.card-content{
    margin-top: 5px;
}
.card-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2px 5px;
}
.card-options>div{
    cursor: pointer;
    background-color: #45ADA8;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 11.5px;
    font-weight: lighter;
    margin: 2px 5px;
    box-sizing: border-box;
    height: 22px;
    line-height: 12.5px;
}
.card-options>div:hover{
    background-color: #2F9599;
}
.card-options-active{
    background-color: #288588 !important;
}
.card-inline_indicator{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 10px 10px 5px 10px;
}
.card-inline_indicator>span:first-child{
    font-size: 33px;
    font-weight: bold;
    color: #333333;
}
.card-inline_indicator>span:nth-child(2){
    font-size: 16px;
    font-weight: lighter;
    color: #999999;
    padding: 0 0 0 10px;
}
.card-icons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}
.card-icons>div{
    display: block;
    text-align: center;
    padding: 5px 10px;
}
.card-icons>div>img{
    width: 43px;
}
.card-icons>div>div:nth-child(2){
    font-size: 18px;
    color: #333333;
    line-height: 20px;
}
.card-icons>div>div:nth-child(3){
    font-size: 15px;
    color: #999999;
    letter-spacing: 1px;
}



/** BAR CHART ****/
.chart_bar {
display: flex;
justify-content: space-between;
align-items: end;
color: #888888;
font-size: 13px;
text-align: center;
padding-top: 15px;
overflow-x: auto;
}
.chart_bar .ch_bar_wrap {
position: relative;
height: 100px;
}
.ch_bar_cont{
margin: 0 2.5px;
}
.ch_bar_cont .ch_bar_wrap .ch_bar {
position: absolute;
top: calc(100px - 0px);
bottom: 0;
width: 22px;
border-radius: 13px;
transition: all 0.2s ease-in;
z-index: 0;
background: linear-gradient(to top, #e66465, #9198e5);
transform: translateX(-50%);
left: 50%;
}
.ch_bar_bcolor_luca{
background: linear-gradient(to top, #00bb7d, #00b4ad) !important;
}
.ch_bar_bcolor_default{
background: linear-gradient(to top, #e66465, #9198e5) !important;
}
.ch_bar_cont .ch_bar_wrap .ch_bar:hover {
transform: translateX(-50%) translateY(-1px);
}
.ch_bar_cont .ch_bar_wrap .ch_bar:after {
content: attr(data-content);
top: -23px;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.ch_bar::before{
content: attr(data-content-tooltip);
height: auto;
background-color: #333333;
border-radius: 6px;
position: absolute;
padding: 3px 5px;
line-height: 20px;
font-size: 13px;
color: #ffffff;
z-index: 1;
max-width: 400px;
bottom: -27px;
transition: all 0.2 s ease-in;
opacity: 0;
transform: scale(0);
width: max-content;
}
.ch_bar:hover::before{
opacity: 1;   
transform: scale(1);
}