.chatBotContainer{
position: fixed;
right: 20px;
max-width: 455px;
z-index: 3;
bottom: -7px;
width: 65px;
}
.anim_chat{
animation: chat_shows 0.7s ease forwards;
}
@keyframes chat_shows{
    0% {bottom: -7px; width: 65px;}
    100% {bottom: 5px; width: 100%;}
}
@media only screen and (max-width: 550px) {
    .chatBotContainer{
        right: 0px;
    }
}
.chatBotContainer>div:first-child{
background: #339266;
height: 30px;
color: #FFFFFF;
padding: 12px 10px 12px 20px;
display: flex;
font-size: 20px;
justify-content: space-between;
font-weight: lighter;
border-radius: 8px 8px 0 0;
border-collapse: collapse;
letter-spacing: 1px;
cursor: pointer;
border: 1.5px solid #339266;
}
.notyChat{
color: #ffffff;
font-size: 12px;
line-height: 25px;
text-align: center;
width: 25px;
height: 25px;
border-radius: 50%;
background: #E84A5F;
position: absolute;
top: -10px;
left: -10px;
opacity: 0;
transform: scale(0);
}
.anim_notyChat{
animation: anim_noty 0.7s ease forwards;
}
@keyframes anim_noty{
    0%{opacity: 0; transform: scale(0);}
    90%{transform: scale(1.2);}
    100%{opacity: 1; transform: scale(1);}
}
.chatBotContainer>div:first-child>div:first-child>span:first-child{
font-size: 25px;
padding-right: 10px;
}
.chatBotContainer>div:first-child>div:last-child{
width: 60px;
text-align: center;
font-size: 20px;
display: flex;
justify-content: space-between;
}
.chatBotContainer>div:nth-child(2){
display: none;
box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.chatBotContainer>div:nth-child(2)>div:first-child{
max-height: 400px;
max-width: 700px;
overflow-y: scroll;
overflow-x: hidden;
margin: auto;
border: 1px solid #efefef;
padding: 10px;
border-collapse: collapse;
background: #ffffff;
}
.botBubble{
max-width: 60%;
background: #efefefef;
border-radius: 10px;
padding: 4px 7px;
position: relative;
text-align: left;
}
.anim_bubb_open{
animation: bubble_shows 1s 0.7s ease forwards;
}
@keyframes bubble_shows{
    0% {opacity: 0; transform: translateY(100px);}
    100% {opacity: 1}
}
.botBubble>p{
font-style: normal;
font-size: 13px;
line-height: 20px;
margin: 10px 5px 3px 5px;
padding: 0px;
}
.botBubble>span{
font-size: 11px;
color: #999999;
width: 100%;
}
.botBubble.User:after{
width: 25px;
height: 30px;
content: "";
background: inherit;
position: absolute;
right: 20px;
bottom: -5px;
transform: rotate(120deg);
z-index: 2;
}
.botBubble.Server:after{
width: 25px;
height: 30px;
content: "";
background: inherit;
position: absolute;
left: 40px;
bottom: -5px;
transform: rotate(60deg);
z-index: 2;
}
.botBubble.User{
margin: 20px 10px 10px auto;
color: #ffffff;
background: rgb(60,60,60)
}
.botBubble.Server{
margin: 20px auto 10px 10px;
color: #333333;
background: rgb(220,220,220)
}

.chatBotContainer>div:nth-child(2)>div:nth-child(2){
height: 50px;
width: 100%;
border: 1px solid #efefef;
background: #ffffff;
border-collapse: collapse;
position: relative;
display: flex;
justify-content: space-between;
}
.chatBotContainer>div:nth-child(2)>div:nth-child(2)>input{
width: 100%;
height: inherit;
border: none;
font-size: 17px;
padding: 0 20px;
-webkit-appearance: none;
color: #666666;
font-weight: lighter;
outline: none;
}
.chatBotContainer>div:nth-child(2)>div:nth-child(2)>div{
height: inherit;
width: 70px;
font-size: 35px;
cursor: pointer;
color: #339266;
text-align: center;
}
.chatBotContainer>div:nth-child(2)>div:nth-child(2)>div>span{
line-height: 50px;
}
.chat_btnOps{
border: 1.5px solid #339266;
border-radius: 10px;
width: fit-content;  
max-width: 350px;
text-align: center;
color: #339266;
font-weight: lighter;
letter-spacing: 1px;
margin: 25px 10px 10px 10px;
font-size: 12px;
}
.chat_btnOps>div>a{
color: #339266;
}
.chat_btnOps>div{
padding: 5px 20px;
cursor: pointer;
transition: all 0.7s ease;
box-sizing: border-box;
border-bottom: 1.3px solid #339266;
}
.chat_btnOps>div:first-child{
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}
.chat_btnOps>div:last-child{
border-bottom: None;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.chat_btnOps>div:hover{
background: #339266;
color: #ffffff;
}
.chat_btnOps>div:hover>a{
color: #ffffff;
}
.link_opt{
cursor: pointer;
color: #339266;
font-weight: 400;
}
.link_opt:hover{
text-decoration: underline;
}

.chatRating{
margin: 20px 10px;
border: none;
display: flex;
justify-content: space-between;
width: 100%;
max-width: 320px;
padding: 5px 10px;
}
.chatRating>div{
cursor: pointer;
}
.chatRating>div>p{
text-align: center;
font-size: 11px;
color: #999999;
letter-spacing: 1px;
}
.chatRating>div>img{
width: 50px;
}

.cardChat{
display: flex;
justify-content: start;
}
.cardChat{
border-radius: 10px;  
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
border: 1px solid #ebebeb;
padding: 12px 20px 12px 7px;
box-sizing: border-box;
margin: 30px auto 10px auto;
width: fit-content;
max-width: 350px;
cursor: default;
}
.cardChat>div:first-child{
margin: auto 15px auto 10px;
}
.cardChat>div:first-child>img{
width: 60px;
}
.cardChat>div:nth-child(2){
line-height: 23px;
font-size: 13px;
font-weight: lighter;
color: #333333;
}
.cardChat>div:nth-child(2)>div{
max-width: 250px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
line-height: 17px;
}
.cardChat>div:nth-child(2)>.title{
font-size: 13px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
margin-bottom: 5px;
}
.cardChat>div:nth-child(2)>div>span{
margin-right: 10px;
}
.cardChat>div:nth-child(2)>div.link{
color: #339266;  
display: flex;
margin-top: 8px;
justify-content: space-evenly;
}
.cardChat>div:nth-child(2)>div.link>div{
cursor: pointer;
}
.cardChat>div:nth-child(2)>div.link>div:hover{
text-decoration: underline;
}