.main_cont{
  padding-bottom: 40px;
}
.head_title{
  width: 100%;
  text-align: center;
  margin: 0px auto 80px auto;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #efefef; 
  position: relative;
}
.head_title > h1{
  font-size: 52px;
  margin: 10px auto 35px auto;
  color: #333333;
}
.head_title > img{
  width: 110px;
  -webkit-animation: bounce_1 1.7s linear 2s;
  -moz-animation: bounce_1 1.7s linear 2s;
  animation: bounce_1 1.7s linear 2s;
}
.head_title > h2{
    color: #777777;
    font-weight: 300;
    width: 80%;
    max-width: 700px;
    font-size: 21px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px;
    position: absolute;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.mp-cont{
  width: 100%;
}
.mp-wrap{
  position: relative;
  display: block;
  text-align: center;
  height: auto;
  margin: auto;
  max-width: 1100px;
}
.mp-el{
  text-align: left;
  position: relative;
  display: inline-table;
  box-sizing: border-box;
  margin: 3px;
  max-width: 370px;
  width: 350px;
  cursor: default;
  border-radius: 3px;
  border-left: 4px solid transparent;
  transition: background-color 800ms, border-color 800ms, box-shadow 800ms, padding 400ms 400ms, margin 400ms 400ms;
}
.mp-el:hover{
  border-color: #ad4f50;
  background-color: #f9f9f9;
  box-shadow: 0 8px 24px rgba(0,0,0,.15);
}
.mp-el > div{
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
}
.mp-el > div:first-child{
  width: 30%;
  text-align: center;
}
.mp-el > div:first-child > img{
  width: 50px;
}
.mp-el > div:nth-child(2){
  width: 70%;
  padding: 0px 5px;
}
.mp-el div:nth-child(2) div:first-child{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
  padding: 25px 0px 7px 0px;
}
.mp-el div:nth-child(2) div:nth-child(2){
  font-size: 15px;
  font-weight: lighter;
  color: #666666;
  padding: 0px 0px 10px 0px;
}
.mp-el div:nth-child(2) div:nth-child(3){
    margin-top: 10px;
}
.mp-el div:nth-child(2) div:last-child{
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px){
  .mp-el{
    width: 100%;
  }
  .head_title > h2{
    width: 92%;
    font-size: 17px;
  }
}


/* ELEMENT MODULAR MP*/

.mp_el_title{
  text-align:center;
  width: 100%;
  color: #333333;
}
.mp_el_img{
  text-align: center;
  margin: 20px auto;
  position: relative;
}
@-moz-keyframes fade_fast{
  0% {color: white;}
  50%   {color: transparent;}
  100% {color: white;}
}
@-webkit-keyframes fade_fast{
  0% {color: white;}
  50%   {color: transparent;}
  100% {color: white;}
}
@keyframes fade_fast{
  0% {color: white;}
  50%   {color: transparent;}
  100% {color: white;}
}
.mp_img_anal span{
  position: absolute;
  font-weight: bold;
  color: white;
  -moz-animation: fade_fast 2s infinite;
  -webkit-animation: fade_fast 2s infinite;
  animation: fade_fast 2s infinite;
}
.mp_img_anal span:nth-child(2){
  top: 15px;
  left: 46%;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.mp_img_anal span:nth-child(3){
  top: 30px;
  left: 46%;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.mp_img_anal span:nth-child(4){
  top: 10px;
  left: 40%;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.mp_img_anal span:nth-child(5){
  top: 25px;
  left: 40%;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.mp_img_anal span:nth-child(6){
  top: 45px;
  left: 40%;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 5.3s;
  animation-delay: 0.5s;
}
@media only screen and (max-width: 370px){
  .mp_img_anal span:nth-child(n+1):nth-child(n+2){
    transform: translateX(-20px);
  }
  .mp_img_anal span:nth-child(-n+3):nth-child(-n+5){
    transform: translateX(-10px);
  }
}

.mp_el_img>img{
  width: 200px;
}
.mp_el_desc, .mp_el_price{
  color: #333333;
  font-weight: 100;
  font-size: 15px;
  text-align: justify;
  line-height: 24px;
}
.mp_el_price{
  font-size: 20px;
  margin: 30px auto;
}
.mp_el_price>span{
  font-size: 25px;
  font-weight: bold;
}
.mp_btn{
  margin-top: 40px;
  outline: none;
  background: #ffffff;
  border: 2px solid #00bb7d;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  color: #00bb7d;
  box-sizing: border-box;
  transition: all 800ms;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mp_btn:hover{
  color: #ffffff;
  border-color: transparent;
  background: linear-gradient(to left, rgba(0,187,125,0.6), rgba(0,180,173,0.6));
}
