* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  overflow-x: hidden;
  zoom: 1;
}

body {
  background: #efefef;
  line-height: 25px;
}

.main_container {
  padding: 30px 15px;
}

.header_wrap {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.header_wrap>img {
  width: 130px;
  cursor: pointer;
  margin-bottom: 20px;
}

.header_wrap>h1 {
  color: #333333;
  margin-bottom: 15px;
  font-size: 30px
}

.header_wrap>h3 {
  font-size: 15px;
  font-weight: normal;
  color: #444444;
}

.boxc1_wrap {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 15px;
  max-width: 330px;
  width: 90%;
  color: #333333;
  margin: 5px 5px 20px 5px;
  position: relative;
  display: inline-table;
  vertical-align: top;
}

.boxc1_wrap.bigmrg {
  margin: 5px 5px 30px 5px !important;
}

.boxc1_wrap>h5 {
  width: 100%;
  position: absolute;
  top: -24px;
  left: 3px;
}

.boxc1_wrap .summary {
  padding-top: 20px;
}

.boxc1_wrap .summary h4 {
  color: #888888;
  font-weight: lighter;
  font-size: 15px;
}

.boxc1_wrap .summary h3 {
  color: #333333;
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.boxc1_wrap>h3 {
  margin-bottom: 10px;
}

.data_box {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #222222;
  margin-bottom: 10px;
}

.data_box>h1 {
  font-size: 30px;
  margin-right: 20px;
}

.data_box>i {
  margin-right: 7px;
}

.boxc1_wrap>h4 {
  color: #888888;
  font-weight: lighter;
  font-size: 15px;
}

.list_cat_item_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.list_cat_cont>div:last-child {
  border-bottom: none;
}

.list_cat_item_cont.resp {
  text-align: center;
  display: block !important;
  margin-top: 23px !important;
}

.list_cat_item_cont>div {
  margin-right: 12px;
}

.list_cat_item_cont .lc_ptg {
  font-size: 20px;
  color: #00bb7d;
  margin-right: 5px;
  font-weight: bold;
}

.lc_ptg.other {
  color: #999999;
}

.lc_value {
  font-size: 18px;
  color: #333333;
  margin-right: 5px;
  font-weight: bold;
  width: 35%;
  text-align: right;
}

.lc_txt_wrap{
  text-align: left;
  width: 100%;
}

.list_cat_item_cont .lc_txt_wrap>h4 {
  color: #888888;
  font-weight: lighter;
  font-size: 15px;
  margin: 0;
}

.chart_bar {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  color: #888888;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}

.chart_bar .ch_bar_wrap {
  position: relative;
  height: 100px;
}

.ch_bar_cont .ch_bar_wrap .ch_bar {
  position: absolute;
  top: calc(100px - 0px);
  bottom: 0;
  width: 22px;
  border-radius: 13px;
  transition: all 0.3s;
  /*background: linear-gradient(to top, #00bb7d, #00b4ad);*/
  background: linear-gradient(to top, #e66465, #9198e5);
}

.ch_bar_cont .ch_bar_wrap .ch_bar:hover {
  transform: scale(1.05);
}

.ch_bar_cont .ch_bar_wrap .ch_bar:after {
  content: attr(data-content);
  top: -23px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.orders_wrap{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.orders_card_container{
  margin: 20px 10px 10px 10px;
  box-sizing: border-box;
}
.orders_msg_wrap{
  margin-top: 7px;
  text-align: center;
}
.orders_msg_wrap>p{
  color: #333333;
  text-transform: uppercase;
  font-size: 18px;
  margin: 5px 0;
}
.orders_msg_wrap>p.active{
  color: #00bb7d !important;
}
.orders_msg_wrap>span{
  color: #999999;
  font-size: 13px;
  position: relative;
  font-weight: lighter;
}
.orders_icn_wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
.icon {
  fill: #333333;
  width: 70px;
  height: auto;
}
.orders_icn_wrap > div{
  position: relative;
}
span.timer{
  background-color: #444444;
  color: #ffffff;
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: lighter;
  font-size: 11.5px;
}
/* .orders_icn_wrap > div:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 15px;
  height: 3px;
  background-color: #555555;
  transform: translateY(-50%);
  border-radius: 5px;
} */
.icon.active {
  fill: #00bb7d;
  animation: heartbeat 0.4s;
}
.icon.inactive {
  fill: #d7d7d7;
}

.ord_title span{
  font-size: 12.5px;
  display: block;
  font-weight: normal;
  color: #555555;
}

.ord_title{
  width: 100%;
  position: unset !important;
  text-align: center;
  margin: 10px 0 30px 0;
}
.close_btn{
  position: absolute;
  top: 10px;
  right: 5px;
  width: 30px;
  height: 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}