body{
    background: #fafafa !important;
}
.wrapper_grid{
    display: grid;
    gap: 5px;
    grid-template-areas:
        'header header'
        'search bill'
        'lbill lbill';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70px 1fr 30px;
}
.choose_salesman{
    grid-area: header;
	width: 100%;
	border-bottom: 1px solid #ededed;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.choose_salesman_bx1{
    float: left;
    height: 100%;
    width: 240px;
    cursor: pointer;
}
.choose_salesman_bx2{
    float: right;
    height: 100%;
}
.choose_salesman_bx1>img{
    width: 50px;
    float: left;
    margin-right: 5px;
    margin-left: 10px;
    height: 95%;
}
.choose_salesman_bx2>img, .choose_salesman_bx2>div{
    width: 30px;
    cursor: pointer;
    margin: 25px 12px auto 0px;
    float: left;
}
.choose_salesman_bx2>img:last-child{
    margin-right: 12px;
}
.choose_salesman_bx1>p{
    font-size: 18px;
    line-height: 70px;
    color: #666;
    font-weight: 600;
}
.cont_select_items{
    grid-area: search;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}
.cont_pre_bill{
    grid-area: bill;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0px 10px;
}
.cont_search{
    width: 65%;
    padding: 20px 10px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
}
#header_products{
    cursor: default;
}
#header_products>p:first-child{
    cursor: pointer;
}
#offline_noty{
    display: none;
}

@media only screen and (max-width: 700px){
    .wrapper_grid{
        grid-template-areas:
        'header'
        'search'
        'bill'
        'lbill';
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 760px){
    .cont_select_items, .cont_pre_bill{
        display: block;
        width: 100vw;
    }
    .cont_pre_bill{
        padding: 0 15px;
        height: auto;
        padding-bottom: 20px;
    }
    .cont_search{
        display: block;
        width: 100%;
    }
}

.input_style_1_search{
    font-size: 15px;
    height: 50px;
    margin-bottom: 10px;
    padding: 0px 15px 0px 40px;
    box-sizing : border-box; 
    -webkit-appearance: none;
    border: 2px solid #999;
    border-radius: 5px;
    color: #666666;
    font-weight: lighter;
    margin: 1px auto 10px auto;
    outline: none;
    width: 100%;
}
.input_style_1_search:focus{
    outline: none;
    border: 2px solid var(--greenluca);
}
.search_side_tools{
    display: block;
    padding-top: 12px;
    margin: auto;
    width: auto;
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
}
.search_side_tools>img{
    padding-left: 15px;
    cursor: pointer;
}

.search{
position: relative;
width: 100%;
max-width: 500px;
display: block;
margin: auto;
height: 50px;
}
.search .mdi-magnify{
position: absolute;
font-size: 25px;
left: 12px;
top: 50%;
transform: translateY(-50%);
color: #999;
opacity: 0.6;
}
.search:focus > .mdi-magnify{
opacity: 1;  
}

.cont_top_sells{
    width: 100%;
    height: auto;
    padding: 20px 30px;
    box-sizing: border-box;
}
.head_top_sells{
    width: 100%;
    padding-bottom: 15px;
    cursor: pointer;
    position: relative;
}
.head_top_sells>p{
    font-size: 17px;
    float: left;
    font-weight: bold;
}
.head_top_sells>button{
    border: none;
    padding-left: 16px;
    background: transparent;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    outline: none;
}	
.box_top_sells{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    box-sizing: content-box;
    max-height: 300px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    border-top: 1px solid #efefef;
    padding-top: 10px;
}



/******* ITEM BOX STYLE *********/

.item_box_stl_1{
    display: inline-block;
    width: 120px;
    height: 140px;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    border: 1px solid #ebebeb;
    font-weight: 300;
}
.item_box_stl_1>img{
    padding-top: 5px;
    width: 65px;
}
.item_box_stl_2{
    display: inline-block;
    width: 95%;
    height: 80px;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    border: 1px solid #ebebeb;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    font-weight: 300;
    position: relative;
    overflow: hidden;
}
.item_box_stl_2:hover{
    transform: scale(1.03);
    border: 1px solid #00bb7d;	
}
.item_box_stl_2>img{
    float: left;
    padding-right: 10px;
    padding-top: 3px;
    width: 45px;
    height: 100%;
    padding-left: 5px;
}
.item_style_txt>p:nth-child(1), .item_style_txt>p:nth-child(2), .item_style_txt>p:nth-child(3){
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.item_style_txt>p:nth-child(1){
    font-size: 12px;
    font-weight: lighter;
    color: #666;
    padding: 4px;
    margin: 0;
    line-height: 11px;
    text-align: center;
}
.item_style_txt>p:nth-child(2){
    font-size: 15px;
    color: #272727;
    padding-right: 5px;
    font-weight: 400;
}
.item_style_txt>p:nth-child(3){
    font-size: 14px;
    color: #666;
    margin: 0;
    padding: 0;
    line-height: 15px;
}
.item_catg_div{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.item_style_txt{
    height: 100%;
}
@media only screen and (max-width: 730px){
    .item_box_stl_2{
        width: 100% !important;
        margin: 5px 0;
    }
    .cont_top_sells {
        padding: 20px 15px;
    }
    .box_top_sells {
        padding: 0 7px;
    }
}
@media only screen and (max-width: 480px){
    .cont_top_sells {
        padding: 20px 5px;
    }
}
/******** END OF ITEM BOX ********/

.no_prods_msg{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}
.no_prods_msg>img{
    width: 80px;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px auto 15px auto;
}
.no_prods_msg>p{
    font-weight: 300;
    display: block;
    vertical-align: middle;
    max-width: 300px;
    text-align: center;
    margin: auto;
}
.no_prods_msg>p>span{
    font-weight: 400;
    cursor: pointer;
}

.cont_bill{
    border: 1px solid #ededed;
    background-color: #ffffff;
    width: auto;
    box-sizing: border-box;
    /*overflow: hidden;*/
    height: auto;
    position: relative;
    margin: 10px auto 10px auto;
    display: block;
    border-radius: 5px;
    max-width: 450px;
}
.cb_search_consumer{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ededed;
    position: relative;
    box-sizing: border-box;
    display: table;
    padding-bottom: 0px;
    background: #ffffff;
}
.cb_search_bar_cons{
    
    color: #272727 !important;
    text-align: left !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 12.7px !important;
    height: 45px;
    padding: 0 15px;
    box-sizing : border-box; 
    -webkit-appearance: none;
    border: none !important;
    margin: 0 !important;
    outline: none;
    width: 100%;
    display: table-cell;
}
.cb_search_bar_cons:focus{
    outline: none;
    border-bottom: 1px solid var(--ColorInputBorderActive);
}
.cb_search_bar_cons::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.cb_search_bar_cons::-ms-clear {
    display: none;
}
.cb_icon_new_cons{
    width: 12%;
    display: table-cell;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.hide_new_cons{
    width: 0;
    display: none;
}
.hide_clearconsumer{
    width: 0;
    display: none;
}
.cb_icon_new_cons>img{
    max-width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cb_cont_items{
    height: auto;
    max-height: 300px;
    overflow-y: scroll; 
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    min-height: 150px;
}
.item_in_bill{
    width: 100%;
    border-bottom: 0.5px solid #ededed;
    display: table;
    padding: 10px 15px;
    box-sizing: border-box;
}
.item_bill_name, .item_bill_count, .item_bill_amount, .item_bill_delete {
    display: table-cell;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}
.item_bill_info{
    font-size: 12px;
    color: #999;
    font-weight: 300;
    display: table-row;
}
.item_bill_name{
    width: 60%;
    text-overflow: ellipsis;
    line-height: 20px;
    padding-right: 10px;
    cursor: pointer;
}
.refItemBill{
    color: #999;
    font-size: 11px;
    font-weight: bold;
}
.item_bill_count{
    width: 10%;
    text-align: center;
    padding: 0 3px;
    cursor: pointer;
}
.item_bill_amount{
    width: 20%;
    text-align: center;
    padding: 0 3px;
}
.item_bill_delete{
    width: 10%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.discount_itemBill{
    font-size: 15px;
    cursor: pointer;
}

.cb_sum_totals{
    height: auto;
    box-sizing: border-box;
    padding: 15px 0;
}
.cb_sums_subtotal{
    width: 100%;
    text-align: right;
    display: table;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px 0;
}
.cb_sums_subtotal>p:first-child{
    font-size: 15px;
    width: 65%;
    display: table-cell;
    color: #444;
    font-weight: 700;
}
.cb_sums_subtotal>p:first-child>span{
    font-size: 20px;
}
.cb_sums_subtotal>p:nth-child(2){
    font-weight: 300;
    font-size: 14px;
    width: 35%;
    display: table-cell;
    padding-right: 10px;
}

.subtotal_mg{
    margin-bottom: 15px;
}


#cb_discount, #cb_tip, #cb_discount_1, #cb_tip_1{
    cursor: pointer;
}
#discAp{font-size: 15px;}
#tipsAp{font-size: 15px;}

#offlineTagCheckout{
    display: none;
    margin: 10px auto 20px auto;
}
.cb_button_checkout{
    height: auto;
    box-sizing: border-box;
    color: #ffffff;
    background: linear-gradient(to left, var(--greenluca), var(--scnd_greenluca));
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
}
.cb_button_checkout>p:first-child{
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 300;
}
.cb_button_checkout>p:nth-child(2){
    font-size: 27px;
    letter-spacing: 2px;
}

.cb_count_delete{
    height: 35px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.cb_count_delete>p{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #666;
    font-weight: 300;
}
.cb_count_delete>img{
    width: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.msg_items_added{
    grid-area: lbill;
    display: none;
    width: 100%;
    max-width: 500px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 187, 125, 0.9);
    border: 1px solid var(--greenluca);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    overflow: hidden;
    cursor: pointer;
}

@media only screen and (max-width: 760px){
    .cont_bill{
        margin: 30px auto;
    }
    .msg_items_added{
        display: block;
    }
}


/* CATEGORY */
.new_category{
    width: 100%;
    height: 0px;
    padding: 0px; 
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.input_cat_style{
    font-size: 15px;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 15px;
    box-sizing : border-box; 
    -webkit-appearance: none;
    border: 2px solid #333;
    border-radius: 5px;
    color: #666666;
    font-weight: lighter;
    margin: 1px auto 10px auto;
    outline: none;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.cont_colors{
    display: block;
    height: 40px;
    width: 100%;
    padding: 2px 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.color_crcl{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 2px 5px 2px;
    cursor: pointer;
    background-color: #efefef;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.color_picked{
    border: 2px solid transparent;
}
#c_c1{background-color: #181D3A !important;}
#c_c2{background-color: #204260 !important;}
#c_c3{background-color: #FFB766 !important;}
#c_c4{background-color: #FFA237 !important;}
#c_c5{background-color: #EB3D00 !important;}
#c_c6{background-color: #15959F !important;}
#c_c7{background-color: #F1E4B3 !important;}
#c_c8{background-color: #F4A090 !important;}
#c_c9{background-color: #F26144 !important;}
#c_c10{background-color: #508365 !important;}

.btn_create_cat{
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
    color: var(--ColorBtns);
}
.btn_create_cat:hover{
    text-decoration: underline;
}
#msg_cat{
    text-align: center;
    margin-top: 5px;
    color:#666;
    font-size: 14px;
    display: none;
}


/* CAMERA QR SCAN */
.QRVideoScanCont{
    height: 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.QRVideoScan{
    width: 100%;
    max-width: 450px;
    border-radius: 5px;
    margin: 20px 0px 5px 0px;
    border: 5px solid var(--greenluca);
    background-color: #efefef;
    box-sizing: border-box;
}
.QRVideoScanCont>p{
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding: 15px 10px 0px 10px;
}
.cameras_link{
    text-align: center;
}
.cameras_link>p{
    cursor: pointer;
    color: var(--greenluca);
    font-weight: 300;
    font-size: 15px;
}
.cameras_link>p:hover{
    text-decoration: underline;
}
.QRScanCam_Cont{
    position: relative;
}
.QRcmpause{
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    background: rgba(0,0,0,0.7);
    text-align: center;
    max-width: 200px;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
} 
.QRcmpause>p{
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
}


.msg1-end-newprod, .msg2-end-newprod{
    text-align: center;
}
.msg2-end-newprod{
    margin-top: 10px;
}



/* HELP WITH TAXES */
.list_tax{
    background: #ffffff;
    border: 1px solid #efefef;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
    box-sizing: border-box;
}
#tax-search{
    max-width: 250px !important;
}
.item_list_tax{
    width: 100%;
    border-bottom: 1px solid #666;
    border-collapse: collapse;
    border-radius: 0px;
    display: block;
    position: relative;
    text-align: center;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.item_list_tax>p:first-child{
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}
.item_list_tax>p:nth-child(2), .item_list_tax>p:nth-child(3){
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.item_list_tax:hover{
    background-color: #efefef;
}



/****** CASHIER ***********/
.cont_cashier{ 
    width: auto;
    height: auto;
    background: transparent;
    position: relative;
    display: block;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-top: 30px;
}
.cash_screen{
    height: 80px;
    width: 100%;
    background-color: #25282E;
    color: #ffffff;
    position: relative;
    display: table;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cash_cuantity{
    font-weight: normal;
    text-align: center;
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    width: 20%;
    font-size: 21px;
    vertical-align: middle;
}
.cash_quanty_up, .cash_quanty_down{
    cursor: pointer;
    font-size: 25px;
}
.cash_quanty_up:hover, .cash_quanty_down:hover{
    background-color: #313131;
}
.cash_display{
    font-weight: bold;
    font-size: 25px;
    position: relative;
    display: table-cell;
    width: 80%;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: right;
    letter-spacing: 1px;
    vertical-align: middle;
    overflow: hidden;
    max-width: 150px;
}
.cash_cont_buttoms{
    position: relative;
    border-collapse : collapse;
    width: 100%;
    height: auto;
}
.cash_btn{
    height: 60px;
    box-sizing: border-box;
    position: relative;
    color: #272727;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
}
.cash_tc{
    vertical-align: middle;
}
.cash_single{width: 25%}
.chash_color_gradient{
        background: linear-gradient(to left, var(--greenluca), var(--scnd_greenluca));
        color: #ffffff;
        font-weight: bold;
        font-size: 40px;
}
.chash_color_gradient:hover{
    background: linear-gradient(to left, #2fbb8d, #2eb5b0);
}
.chash_color_gray{
    background-color: #999;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}	
.chash_color_gray:hover{
    background-color: #adadad;
}
.chash_color_red{
    background-color: var(--ColorBtnRed);
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}
.chash_color_red:hover{
    background-color: var(--ColorBtnRed_hov);
}
.cash_hbw:hover{
    background-color: #F7f7f7;
}
.borrad-botleft{
    border-bottom-left-radius: 10px;
}
.borrad-botright{
    border-bottom-right-radius: 10px;
}
#cash_value{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#msg-box-cashier{
    background-color: transparent;
    border: none;
}



/*** CHECKOUT 1 STYLE  **/
#bill_id{
    display: block;
    margin-top: -10px;
    color: #555;
    font-weight: normal;
    font-size: 14px;
}
.co1_a_1{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
}
.total_bill{
    width: 100%;
    text-align: center;
    font-size: 47px;
    font-weight: bold;	
    margin: 20px 0;
    color: #00bb7d;
}
.co1_a_customer{
    width: 100%;
    text-align: center;
    display: table;
    position: relative;
    margin: 15px 0;
}
.co1_a_customer>img{
    display: inline;
    margin-right: 10px;
    width: 35px;
    vertical-align: middle;
}
.co1_a_customer>p{
    vertical-align: middle;
    display: inline;
    font-size: 20px;
    font-weight: 300;
}

.co1_btns>div{
    width: 125px;
    margin: 15px 3px;
    border: 1px solid #ffffff;
}
@media only screen and (max-width: 760px){
    .co1_btns>div{
        width: 29%;
        padding: 5px;
    }
}
.cash_option_cont{
	width: 100%;
	overflow: hidden;
	padding: 0 20px;
	box-sizing: border-box;
}
.card_option_cont{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.other_option_cont{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.co2_cash_total_label{
	font-size: 15px;
	font-weight: 600;
}
.co2_cash_total_value{
	font-size: 25px;
	font-weight: bold;
	margin-left: 10px;
}
.co2_cash_total_label2{
	width: 100%;
	font-size: 15px;
	font-weight: 300;
	margin: 10px 0 5px 0;
}
.cash_options_cont{
	position: relative;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}
.cash_option{
	height: 45px;
	line-height: 45px;
	margin: 5px;
	border: 1px solid #333;
	text-align: center;
	font-size: 15px;
	color: #999;
	cursor: pointer;
	border-radius: 10px;
	max-width: 120px;
    display: inline-block;
    font-weight: 300;
    padding: 0 5px;
}
.cash_option:hover{
	border: 1px solid var(--greenluca);
	color: var(--greenluca);
}
.cash_other_value{
	display: block;
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
.cash_other_value>input{
	font-size: 16px;
	width: 100%;
	max-width: 300px;
	height: 45px;
	margin-bottom: 10px;
	padding: 0 15px;
	box-sizing : border-box; 
	border: 2px solid var(--ColorInputBorderInActive);
	border-radius: 5px;
	color: #666666;
	-webkit-appearance: none;
	-moz-appearance: none;
	letter-spacing: 1px;
	font-weight: 300;
	display: inline;
	outline: none;
	transition: max-width 0.3s ease-in-out;
	-webkit-transition: max-width 0.3s ease-in-out;
	-moz-transition: max-width 0.3s ease-in-out;
	-o-transition: max-width 0.3s ease-in-out;
}
.cash_other_value_active{
	max-width: 180px !important; 
	text-align: center !important;
}
.cash_other_value>input:focus{
	border: 2px solid var(--ColorInputBorderActive);
}

.next_other_cash{
	display: inline;
	letter-spacing: 0px;
	transform: translateY(2px);
	padding: 0;
	transition: width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
}
.next_other_cash_active{
	height: 45px !important;
	width: 110px !important;
	padding: 13px 10px !important;
}
.paymentbox_selected{
	border: 1px solid var(--greenluca) !important;
	color: var(--greenluca) !important;
}


.SimpleOptionsBox{
	width: 100%;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}
.SimpleOptionsBox>div{
	display: inline-block;
	width: 135px;
	margin: 5px;
	height: 70px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	padding: 0 10px;
	vertical-align: middle;
	cursor: pointer;
	box-sizing: border-box;
}
.SimpleOptionsBox>div:hover{
	color: var(--greenluca);
	border: 1px solid var(--greenluca);
}
.SimpleOptionsBox_selected{
	color: var(--greenluca);
	border: 1px solid var(--greenluca);
}
.SimpleOptionsBox>div>img{
	width: 45px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	height: 100%;
}
.SimpleOptionsBox>div>p{
	font-size: 14px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 300;
	height: 100%;
	line-height: normal;
}

.removeAllItem{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 30px auto 10px auto;
    background: var(--ColorBtnRed);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.removeAllItem:hover{
    background: var(--ColorBtnRed_hov);
}
.removeAllItem>span{
    font-size: 30px;
    color: #ffffff;
}

.change_bill{
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 5px;
}
.payment_final_bill{
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 15px;
	color: #333;
	margin-bottom: 20px;
}
.final_mark_trx_cont{
	width: 100%;
	text-align: center;
}
.final_mark_trx{
	width: 150px;	
	margin: auto auto 30px auto;
}
.final_points{
	width: 80%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	background: linear-gradient(to left, var(--greenluca), var(--scnd_greenluca));;
	margin: auto auto 10px auto;
	padding: 5px 0;
	border-radius: 5px;
}
.luca_points_lab2{
	font-weight: 400;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	margin: 0 0 5px 0;
	padding: 0;
	height: 15px;
	transform: translateY(-7px);
	width: 100%;
	display: block;
}

.av1{
	width : 100%;
	height: auto;
	position: relative;
	display: table;	
	box-sizing: border-box;
	margin: 5px 0px;
}
.av1a{
	height: 80px;
	width: 15%;
	border: 1px solid #efefef;
	border-radius: 0px;
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
	cursor: pointer;
}	
.av1a>img{
	width: 80px;
}
.av1b{
	height: auto;
	width: 85%;
	display: table-cell;
	box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #efefef;
	border-collapse: collapse;
	cursor: pointer;
}
.av1b>p{
	font-weight: 300;
    font-size: 17px;
    margin-left: 15px;
    line-height: 25px;
    margin-bottom: 5px;
}
.av1b_d{
	font-size: 13px !important;
    color: #999;
    line-height: 17px !important;
}
.ad{
	margin-bottom: 15px !important;
	border: 1px solid #efefef;
	border-collapse: collapse;
}
.cont_no_perf{
	display: block;
	width: 100%;
	text-align: center;
	margin: 50px 0 0 0;
}
.cont_no_perf>img{
	width: 85px;
	margin: 10px auto;
	display: block;
}
.cont_no_perf>p{
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}
.adb>p{
	font-weight: 600;
	font-size: 21px;
}
.cont_ap{
	border: solid 1px #f9f9f9;
	border-radius: 5px;
	width: 100%;
	max-height: 215px;
	position: relative;
	display: block;
	overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 0px;
}
.av1c{
	display: table-cell;
	max-width: 50px;
}
.av1c>img:hover{
	background: #e4e3e3;
}
.av1c>img{
	display: block;
    width: 20px;
    height: 20px;
    padding: 7px;
    cursor: pointer;
    background: #f5f5f5;
}

.pwVend{
	margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
}
.pwVend>span{
	font-weight: 600;
}

.mv1{
	width : 100%;
	height: auto;
	position: relative;
	display: table;	
	box-sizing: border-box;
}
.mv1a{
	height: 80px;
	width: 15%;
	border: 1px solid #efefef;
	border-radius: 10px;
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}	
.mv1a>img{
	width: 80px;
}
.mv1b{
	height: auto;
	width: 85%;
	display: table-cell;
	box-sizing: border-box;
}
.mv1b>p{
	font-weight: 300;
	font-size: 17px;
	margin-left: 15px;
	line-height: 25px;
	margin-bottom: 5px;
}
.mv1b>input{
	font-size: 17px;
    width: 90%;
    height: 40px;
    margin-left: 15px;
    max-width: 300px !important;
}

.mv2{
	margin-top: 20px;
	width: 100%;
}
#imgLock{
	width: 30px !important;
}

.mv3{
	margin-top: 20px;
	width: 100%
}
.mv3>p{
	line-height: 25px;
	font-weight: 300;
}
.pep_1{
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0px;
}
.pep_1_nopass{
    text-align: center;
    padding: 5px;
    background: #ffff;
    border: 1px solid var(--greenluca);
    font-weight: bold !important;
    margin: 20px 5px !important;
    color: var(--greenluca);
}
.mv2a{
	display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 0;
	transition: all 0.3s ease;
}
.mv2a_show{
	max-height: 500px;
}
.mv2a_1{
    display: inline-block;
    text-align: center;
    padding: 0 3px;
    box-sizing: border-box;
    width: 49%;
}
.mv2a_1_a{
	width: 100%
}
.mv2a_1>p{
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 10px;
}
.mv2a_1>input{
	max-width: 100px;
    max-height: 40px;
    text-align: center;
    font-size: 14px;
    color: rgb(30,30,30);
}
.mv3a{
	display: table;
    width: 100%;
}
.mv3a_1{
	display: table-cell;
	padding: 10px;
}
.mv3a_1>p{
	font-size: 17px;
	font-weight: bold;
	border-bottom: 1px solid #999;
}
.mv3a_1>div{
	display:block;
}
.AvatarProf_Cont{
	width: 100%;
	height: auto;
	border: 1px solid #efefef;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 260px;
}
.AvatarProf_Cont>img{
    width: 33.33333%;
    padding: 7px 10px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}
.mv3a_1>div>label{
	font-size: 15px;
	font-weight: 100;
	cursor: pointer;
}
.infoStatsItem{
	margin-bottom: 15px;
	text-align: center;
}
.box1_info_stats{
	background: linear-gradient(to left, var(--greenluca), var(--scnd_greenluca));
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    width: 45%;
    height: auto;
    padding: 20px 2px;
    display: inline-block;
	max-width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
}
@media only screen and (max-width: 470px){
	.box1_info_stats{
		width: 100%;
		padding: 10px 2px;
	}
}
.box1_info_stats p:first-child{
	font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
}
.box1_info_stats p:nth-child(2){
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.infoBoxStyle1{
	background: #ffffff !important; 
	color: #333 !important;
	border-radius: 0px;
}
.infoBoxStyle1 p:first-child{
	color: var(--ColorSuccess) !important;
}
.infoBoxStyle1 p:nth-child(2){
	font-weight: 300 !important;			
}

.chartsItem{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	text-align: center;
}
.ChartSalesItem{
	position: relative;
	width: 100%;
	max-width: 500px;
	height: auto;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}

.NoSalesItem{
	text-align: center;
}
.NoSalesItem>img{
	width: 100px;
}
.NoSalesItem>p{
	font-size: 17px;
	font-weight: 300;
}
.TimeStatsContainer{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	text-align: center;
	margin-bottom: 30px;
	display: none;
}
.emptyProfiles{
	display: block;
	text-align: center;
}
.emptyProfiles>img{
	width: 105px;
	margin-top: 15px;
}
.emptyProfiles>p{
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	margin: 15px 10px 15px 10px;
}
.cadm1{
	text-align: center;
}
.cadm1>p{
	font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align:center;
}
.cadm1>input{
	margin: 0px auto 30px auto;
    max-width: 200px;
    max-height: 40px;
    text-align: center;
}
#passProfileAdmin{
	overflow: hidden;
    height: 0;
    transition: all 0.5s ease;
}
.passProfAdminOnFocus{
	height: 100px !important;
}
.unlockProfile_txt{
    font-weight: 300;
    color: #666;
}
#lblunLockProfile{
    margin: 20px 0px 20px 0px;
}
.barcodecam_canvas {
    overflow: hidden;
    text-align: center;
    position: relative;
}
.barcodecam_canvas>video {
    width: 100%;
    margin: 20px 0px 5px 0px;
    border: 5px solid var(--greenluca);
    background-color: #efefef;
    max-width: 450px;
    box-sizing: border-box;
    border-radius: 5px;
}
.barcodecam_canvas>canvas{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
}
.barcodecam_cont{
    height: 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.barcodecam_cont_opn{
    height: auto;
}
.barcodecam_cont>p{
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding: 15px 10px 0px 10px;
}
.ProdSearchNoData{
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.ProdSearchNoData>img{
    max-width: 150px;
    width: 95%;
}
.ProdSearchNoData>p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
.ProdSearchNoData>h5{
    font-size: 15px;
    font-weight: 300;
}
.img_helpscan{
    max-width: 200px;
    width: 95%; 
}
.title_helpscan{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
.descr_helpscan{
    font-size: 15px;
    font-weight: 300;
    margin: 15px 0 25px 0;
}
.box_help_scan{
    margin-bottom: 10px;
    text-align: center;
    transition: all 1s linear;
    opacity: 0;
    display: none;
}
.box_help_scan_opn{
    opacity: 1;
    display: block;
}
.bcod_pr1, .bcod_pr2{
    display: block;
    font-weight: normal;
    color: #00bb7d;
    line-height: 1px;
    cursor: pointer;
}
.bcod_pr2{
    margin: 0px 20px 0px 20px;
    display: inline-block;
}
.bcod_pr1:hover, .bcod_pr2:hover{
    text-decoration: underline;
}
.img_csv_file{
    width: 150px;
    margin: 10px 0px;
    display: block;
    cursor: pointer;
}
.impptx1{
    font-weight: 400;
    cursor: pointer;
    color: var(--greenluca);
}
.impptx1:hover{
    text-decoration: underline;
}
.inp_import_csvfile{
    display: none;
}
.msg1-end-impodatprod{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 30px;
}
.msg_idatprod>p{
    font-weight: 300;
    font-size: 15px;
}
.msg_idatprod{
    margin-top: 10px;
}
.inp_import_delimiter{
    font-weight: 300;
}
#inp_import_delimiter{
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    font-size: 17px;
    height: 45px;
}
.wrap_tableErr{
    margin: 20px 0;
}
.wrap_tableErr>table{
    background: white;
    border-collapse: collapse;
    border-spacing: 1;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.wrap_tableErr>table>thead>tr{
    height: 50px;
    background: #292929;
    color: white;
    font-size: 17px;
}
.wrap_tableErr>table>tbody>tr{
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: #808080; 
}
.wrap_tableErr_col1{
    width: 25%;
    padding: 3px 5px;
    text-align: center;
}
.wrap_tableErr_col2{
    width: 75%;
    padding: 3px 5px;
}
.wrap_tableErr>table>tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
}
.wrap_tableErr>table>tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
.textErrTable{
    font-weight: 300;
    margin: 20px 0;
    text-align: justify;
}
.CSV_AllCorr1{
    font-size: 20px !important;
    font-weight: bold !important;
    margin-bottom: 10px;
    margin-top: 5px;
}
.cont_inputcsv{
    overflow: hidden;
    transition: all 1s ease;
    height: 370px; 
}
.cont_inputcsv_close{
    height: 0; 
}
.img_check_done_csv{
    width: 150px;
}
.UploadCSVAgain{
    cursor: pointer;
    font-weight: 400;
    color: var(--greenluca);
    font-size: 13.5px;
}
.UploadCSVAgain:hover{
    text-decoration: underline;
}
.help_container{
    text-align: center;
}
.help_container .help_title{
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 2px;
    line-height: 30px;
    color: var(--greenluca);
}
.help_container .help_subtitle{
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 400;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--greenluca);
    color: var(--greenluca);
    padding-bottom: 10px;
}
.help_container .help_body{
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0 20px 0;
    text-align: justify;
}
.help_container .help_img{
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 10px 0;
}
.help_container .mdm_img{
    max-width: 150px !important;
}
.help_container .big_break{
    margin-bottom: 40px !important;
}
.help_container .indentList{
    margin-left: 10% !important;
    text-align: left !important;
}

.luca_op_rd{
    background: linear-gradient(to left, var(--greenluca),var(--scnd_greenluca));
    min-height: 60px !important;
    border: none !important;
}
.luca_op_rd>p{
    color: #ffff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
    letter-spacing: 1.2px !important;
}
.lr_cont{
    max-width: 300px;
    margin: auto;
}
.lr_0{
    text-align: justify;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: normal;
}
.lr_1{
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.lr_1>input{
    text-align: center;
    display: table-cell;
    width: 90%;
    margin: 0px 10px 10px auto;
}
.lr_1>p{
    width: 10%;
    display: table-cell; 
    vertical-align: middle;
    font-weight: 300;
}
.lr_2{
    width: 100%;
    text-align: right;
    font-size: 17px;
    font-weight: 400;
}
.lr_3{
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: var(--ColorBtnRed);
    font-size: 17px;
}
.lr_4{
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}
.lr_bb{
    border-bottom: 1px solid #999;
}
.lr_hd{
    margin: 10px 0 20px auto !important;
}
.lr_table_nums{
    width: 100%;
    margin-bottom: 20px;
}
.lr_table_nums>tbody>tr>td{
    text-align: right;
}
.lr_table_nums>tbody>tr>td:nth-child(1){
    width: 60%;
}
.lr_table_nums>tbody>tr>td:nth-child(2){
    width: 40%;
}
.lr_0_all_points{
    color: var(--greenluca);
    cursor: pointer;
    font-weight: bold;
}
.lr_0_all_points:hover{
    text-decoration: underline;
}


.cust_selected{
    font-size: 12px !important;
    background: #d5e9f9;
    height: 35px !important;
    width: 80% !important;
    cursor: default;
    margin: 10px 23px !important;
}
.panelcons_s1{
    margin: 25px 0px 0px 0px;
}
.panelcons_s2{
    margin-top: 25px;
}
.pn_1, .pn_2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pn_1{
    width: 30%;
}
.pn_2{
    width: 70%;
}
.pns2_a{
    width: 40%;
    border-right: 1px solid #ccc;
}
.s1_a{
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.s1_b{
    text-align: center;
}
.s1_c{
    text-align:center;
}
.s1_c>img{
    width: 95px;
}
.s1_b p:first-child{
    margin-bottom: 15px !important;
    margin-top: 10px !important;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}
.s1_a>img{
    margin: 0px 5px;
    cursor: pointer;
}
.data_info_lucapnt{
    font-size: 16px;
    background: var(--ColorBtns);
    color: white;
    text-align: center;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0px auto 15px auto;
    cursor: pointer;
}
.data_info_hl, .label_n_data p:nth-child(2){
    font-size: 17px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.br_lnd{
    border-right: 1px solid #ccc;
}
.label_n_data{
    display: table-cell;
    padding: 0px 10px; 
    max-width: 100px;  
}
.label_n_data p:first-child{
    font-size: 15px;
    color: #999;
}
@media only screen and (max-width: 430px){
    .bill_nc_data{
        max-width: 50px;
    }
}
.pursh_line{
    margin: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 7px 3px;
}
.s3_a{
    margin-bottom: 25px;
}
.s3_a>img{
    margin:0px 1px 0px 5px;
}
.s3_a1{
    font-size: 20px;
    font-weight: lighter;
    display: table-cell;
    color: #333;
}
.s3_a2{
    cursor: pointer;
    font-size: 15px;
    color: green;
    text-decoration: underline;
    font-weight: lighter;
    display: table-cell;
    text-align: right;
}
.s3_a2:hover{
    color: rgb(0, 168, 0);
}
.panelcons_s4{
    text-align:center;
}
.panelcons_s4>button{
    margin: 10px;
    display: inline-block;
    max-width: 150px;
}
@media only screen and (max-width: 760px){
    .pn_1, .pn_2{
        display: block;
        width: 100%;
    }
}
.ordersCons_empty{
    text-align: center;
}
.ordersCons_empty>img{
    width: 80px;
    margin-bottom: 20px;
}
.ordersCons_empty>p{
    font-size: 16px;
    font-weight: lighter;
    color: #666;
}

.textElli60{
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paytyp_wrap{
    margin-top: 15px;
}
.paytyp_cont_wrap{
    margin-top: 30px;
    text-align: center;
}
.paytyp_cont_wrap>div{
    display: table-cell;
}
.paytyp_cont_wrap>div>img{
    width: 45px;
}
.paytyp_cont_wrap>div>p{
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.selectItmsCont{
    position: absolute;
    top: 0;
    right: 0;
}
@media only screen and (max-width: 540px){
    .selectItmsCont {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
    }
}
.selectItmsCont>div{
    display: inline-block;
    vertical-align: middle;
}
.selectItmsNum{
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
    border-radius: 7px;
    color: #00bb7d;
    animation-duration: 0.2s;
    animation-name: none;
    margin: 0px 10px 0px 5px;
    border: 2px solid #00bb7d;
}
.ItemHomeSelected{
   animation-name: heartbeat !important;
}
.selectItmsDel{
    cursor: pointer;
}
.selectItmsDel>img{
    padding: 0px 7px;
    vertical-align: middle;
    width: 25px;
}
.coderef_url{
    font-size: 11px;
    text-align: left;
    color: #999;
    margin-top: 15px;
}
.coderef_url>a{
    text-decoration: underline;
    color: #999;
    cursor: pointer;
}
.barcode_img_cont{
    text-align: center;
}
.infobarcodeCont{
    margin: 40px 0px 30px 0px;
}
.namebarcodecont{
    vertical-align: middle;
}
#barcode_fnd_icon{
    width: 50px;
}
.msg-box-1-panel_btns{
    text-align: center;
}
.msg-box-1-panel_btns>button{
    margin: 5px;
}

.item_bill_adiciones{
    font-size: 12px;
    color: #999;
    font-weight: 300;
    line-height: 17px;
}

.adic_item{
    cursor: pointer;
}
.adic_item:hover{
    color: #ad4f50;
}

#Close-OffLineAdmin{
    color: #ffffff;
    font-size: 20px;
}

.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    min-height: 55px !important;
    margin-bottom: 10px;
    padding: 0 15px 5px 15px !important;
    box-sizing: border-box;
    border: 2px solid var(--ColorInputBorderInActive) !important;
    border-radius: 5px !important;
    color: #666666;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-top: 10px !important;
    font-weight: 100 !important;
    padding-left: 1px !important;
}
.select2-search__field{
    letter-spacing: 2px !important;
    font-weight: 100 !important;
    font-size: 15px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 13px !important;
}
.select2-results__option {
    font-size: 14px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00bb7d !important;
}
.select2-container--open .select2-dropdown--below {
    transform: translateY(-11px) !important;
}

.helpModalVoice>p:first-child{
    margin-bottom: 10px;
    line-height: 23px;
    font-size: 15px;
    text-align: justify;
}
.listSentencesHelp{
max-height: 450px;
max-width: 700px;
overflow-y: scroll;
overflow-x: hidden;
margin: auto;
-webkit-overflow-scrolling: touch;
}
.listSentencesHelp>div{
padding: 15px 10px;
margin: 3px 7px;
border-bottom: 1px solid #efefef;
font-size: 13px;
color: #333333;
font-weight: light;
cursor: default;
line-height: 20px;
}
.listSentencesHelp>div>p:first-child{
text-transform: uppercase;
font-size: 10px;
letter-spacing: 1px;
margin: 0px 0px 12px 0px;
padding: 0px;
color:#999999;
font-weight: bold;
}
.listSentencesHelp>div>p:first-child>span{
margin-right: 7px;
font-size: 15px;
}
.listSentencesHelp>div>p:nth-child(2){
margin: 0px 0px 10px 0px;
}
.listSentencesHelp>div>p:nth-child(3){
margin: 0px 0px 10px 0px;
text-align: center;
font-style: italic;
background: #efefefef;
border-radius: 10px;
padding: 4px 7px;
font-weight: light;
color: #555555;
position: relative;
}
.listSentencesHelp>div>p:nth-child(3):after{
width: 25px;
height: 30px;
content: "";
background: inherit;
position: absolute;
left: 20px;
bottom: -8px;
transform: rotate(60deg);
z-index: -1;
}
.listSentencesHelp>div:last-child{
border-bottom: none;
}