body{
    background: #fafafa !important;
}
.main_cont{
    background: #fafafa;
    padding: 20px 10px 40px 10px;
    height: 100%;
}
.main_bar{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ededed;
    height: 60px;
    position: relative;
}
.main_bar_wrap{
    position: relative;
    right: 7px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
.main_bar_wrap div{
    display: inline-block;
    margin: 10px;
    height: 100%;
    cursor: pointer;
}
.main_bar_wrap div img{
    width: 27px;
}
#search_bill{
    background-image: url('../icons/SVG/01-content-edition/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    background-size: 25px;
}
#select_type_search{
    max-width: 400px;
    height: 55px;
    background-image: url('../icons/SVG/41-shopping/receipt-4.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    background-size: 30px;
}
.header_bills{
    width: 100%;
    padding: 40px 10px 10px 10px;
    box-sizing: border-box;
    text-align: center;
}
.header_bills>h1{
    margin-bottom: 20px;
}
.header_bills_1, .header_bills_2{
    width: 300px;
    display: inline-block;
    padding: 10px 20px;
}
@media only screen and (max-width: 480px){
    .header_bills_1, .header_bills_2{
        width: 100%;
        padding: 0px;
    }
}
.header_bills_1>p:first-child, .header_bills_2>p:first-child{
    font-weight: 600;
    color: #333;
    letter-spacing: 1px;
    font-size: 14px;
}
.bills_wrap{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
}
.bills_summ_data{
    padding: 10px 0px 20px 0px;
    display: table-cell;
}
.bills_cont{
    height: auto;
    max-height: 600px;
    overflow-y: auto;
    position: relative;
    border: 1px solid #efefef;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
    background: #ffffff;
}
.bills_cont>table>thead>tr{
    display: block;
    position: relative;
}
.bills_cont>table {
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  font-weight: lighter;
  table-layout: fixed;
}
.bills_cont>table>thead{
    border-bottom: 1px solid #dddddd;
}
.bills_cont>table>thead>tr>th, .bills_cont>table>tbody>tr>td {
  text-align: center;
  padding: 5px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cont_table_billsdata{
    display: block;
    overflow: auto;
    max-height: 500px;
}
.cont_table_billsdata>tr{
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}
/* .cont_table_billsdata>tr:hover, .cont_table_billsdata>tr:nth-child(even):hover{
   background-color: #DDDDDD;
} */
.cont_table_billsdata>tr:nth-child(odd):hover{
    background-color: #DDDDDD;
}
.icon_bill_paymtype>img{
    width: 30px;
}
.tr_deep_data{
    background-color: #efefef;
    border: none !important;
    display: none;
}
.tr_deep_data>td{
    padding: 0px !important;
}
.info_bill{
    text-align: left;
    padding: 0px;
    max-height: 0px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    overflow: hidden;
    width: 100%;
    cursor: default;
    background: #efefef;
}
.info_bill:hover{
    background-color: #efefef !important;
}
.info_bill_on{
    max-height: 900px !important;
    padding: 10px !important;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}
.info_bill_link{
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    background: #00bb7d;
    padding: 5px 10px;
    margin: 10px;
    max-width: 300px;
    border-radius: 10px;
    display: inline-block;
}
.info_bill_link:hover{
    background: #1BD68C;
}
.info_bill_link2{
    color: #00bb7d;
    font-weight: 600;
    cursor: pointer;
    padding: 0px 5px;
}
.info_bill_link2:hover{
    color: #1BD68C;
}
.info_bill_1{
    width: 100%;
    margin: 20px 10px;
    display: table;
}
.info_bill_gnrdata, .info_bill_other_data{
    width: 50%;
    display: table-cell;
    vertical-align: top;
}
.info_bill_other_data{
    margin-left: 25px;
}
.bill_info_vendor{
    margin-top: 15px;
}
.bill_info_vendor>img{
    width: 45px;
    vertical-align: middle;
    padding-right: 5px;
}
.filter_date_cont>p{
    font-size: 15px;
    padding: 5px 0px 0px 0px;
    font-weight: lighter;
    color: #666;
}
.filter_date_cont>div{
    width: 100%;
    display: block;
    padding: 10px 0px;
}
.filter_date_cont>div>p{
    font-size: 15px;
    font-weight: lighter;
    padding-bottom: 5px;
    text-align: left;
}
.filter_date_cont>div>input{
    width: 100%;
}
#filter_date_from_cont{
    animation: opacity_show 2s;
    display: none;
}
#filter_date_to_cont{
    animation: opacity_show 2s;
    display: none;
}
.preheader_table{
    width: 100%;
    position: relative;
    display: table;
}
.reset_filter_content{
    width: fit-content;
    display: table-cell;
    vertical-align: bottom;
}
.reset_filter{
    width: fit-content;
    height: auto;
    background: var(--ColorBtnRed);
    border-radius: 5px;
    padding: 2px 15px;
    margin: 10px 0px 10px 0px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    float: right;
}
.reset_filter span{
    padding-left: 10px; 
    font-size: 17px;
}

.bye_row{
    display: none;
}

.cmd_lnk{
    display: none;
}

.cmd_lnk>div{
    height: 10px !important;
    line-height: 10px !important;
    width: fit-content !important;
    font-size: 14px !important;
    margin: 0 !important;
}

@media only screen and (max-width: 480px){
    .bills_summ_data, .reset_filter_content{
        display: block;
    }
    .reset_filter{
        float: none;
    }
}

@media only screen and (max-width: 730px){
    .info_bill_1{
        display: block;
    }
    .info_bill_gnrdata, .info_bill_other_data{
        width: 100%;
        display: block;
    }
}

