body{
    background: #fafafa !important;
}
a{
    color: #333333 !important;
}
.big-text{
    font-size: 32px;
    font-weight: 500 !important;
}
.blue{
    color: #5c9bd4;
}
.delta{
    color: #3fb378;
}
.midsize-text{
    font-size: 27px;
    color: #00bb7d;
    margin-bottom: 0;
    font-weight: bold;
}
.usr-ptg{
    color: #666;
    font-size: 18.5px;
    padding: 0 6px;
    margin: auto !important;
}
.item-ptg{
    margin-bottom: 0;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#item-1, #item-1-value{
    /* color: #2A3A6F; */
    /* color: rgba(0, 109, 73, 1);*/
    color: rgb(0,187,125);
}
#item-2, #item-2-value{
    /* color: #338FED; */
    /* color: rgba(0, 128, 86, 1); */
    color: rgb(0,185,141);
}
#item-3, #item-3-value{
    /* color: #6E97D3; */
    /* color: rgba(0, 148, 99, 1); */
    color: rgb(0,183,150);
}
#item-4, #item-4-value{
    /* color: #A9BEE8; */
    /* color: rgba(0, 167, 112, 1); */
    color: rgb(0,182,157);
}
#item-5, #item-5-value{
    /* color: #989898; */
    /* color: rgba(0, 187, 125, 1); */
    color: rgb(0,180,173);
}
#other-items, #other-items-value{
    color: #ccc;
}

.noInfoDashboard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    text-align: center;
}
.noInfoDashboard>img{
    max-width: 500px;
    width: 82%;
}
.noInfoDashboard>div{
    text-align: center;
    margin-top: 40px;
}
.noInfoDashboard>div>p{
    font-size: 25px;
    font-weight: bold;
    color: #00bb7d;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
} 
.noInfoDashboard>div>a{
    font-size: 20px;
    cursor: pointer;
    color: #444;
    margin-bottom: 0 !important;
}
.noInfoDashboard>div>a:hover{
    color: #333;
}
.box_db{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    max-width: 400px;
    align-items: center;
}
.subtlt_db{
    font-size: 17px;
    margin-bottom: 0;
    color: #444444;
    font-weight: lighter;
}
.tab_content{
    padding: 40px 30px 30px 30px;
}
.cust_col1_boxp{
    margin: 0 auto 15px auto !important;
}
.cust_col2_wrap{
    padding: 0 30px !important;
}
.cust_col2_icons{
    height: 150px;
    max-width: 310px !important;
    margin: auto !important;
}
.gender_perc{
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.box_db2{
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
    border-radius: 7px;
    text-align: center;
    max-width: 400px;
    align-items: center;
    margin: 10px auto !important;
    font-weight: lighter;
    min-height: 95px;
    color: #444444;
}
.box_db2 > p:first-child{
    margin: 0 auto 3px auto;
    max-width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.box_db2 > p:nth-child(2){
    margin-bottom: 0 !important;
    font-size: 16px !important;
}

.ageChart_wrap{
    margin-top: 20px;
}

.paytyp_cont_wrap{
    text-align: center;
    max-width: 600px;
    margin: 30px auto 30px auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.paytyp_cont_wrap>div>img{
    width: 60px;
}

.paytyp_cont_wrap>div>p{
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0;
}
.paytyp_cont_wrap>div>p:nth-child(2){
    font-weight: bold;
    font-size: 18px;
}
.paytyp_cont_wrap>div>p:nth-child(3){
    font-size: 14px;
}

.menuPaymentType{
    max-width: 250px;
    font-size: 14px;
    padding: 5px 10px;
    color: #888888;
    font-weight: lighter;
    /* border-bottom: 1px solid #dddddd; */
}
.menuPaymentType>div>div{
    cursor: pointer;
}
.PyTyActive{
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
}

#recurrent-ptg, #new-ptg{
    font-size: 30px !important;
}

.subtitle_chart{
font-size: 14px;
font-weight: bold;
text-align: center;
color: #333333;
letter-spacing: 1px;
padding-bottom: 7px;
border-bottom: 1px solid #9f9f9f;
margin-bottom: 10px;
}
  
.box_container{
background: #ffffff;
border: 1px solid #efefef;
border-radius: 8px;
padding: 15px 30px;
box-sizing: border-box;
margin: 10px;
position: relative;
overflow: hidden;
box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
}
.info_box{
padding: 15px;
text-align: center;
max-width: 400px;
align-items: center;
margin: 10px auto !important;
font-weight: lighter;
min-height: 95px;
color: #444444;
}
.select_box{
width: 200px !important;
border: none !important;
border-bottom: 1px solid #999999 !important;
border-radius: 0px !important;
}
.intro_tools_dash{
position: relative;
margin-bottom: 15px;
padding: 10px;
}
.intro_tools_dash>label{
font-weight: bold;
margin: 0;
padding-right: 10px;
}

@media only screen and (max-width: 767px){

    .box_container{
        margin: 10px auto;
        width: 97% !important;
    }
    .select_box{
        width: 100% !important;
        margin-top: 12px !important;
    }
    .cust_col2_txt{
        text-align: center;
    }
    .gender_wrap, .age_wrap, .pieChart_cont, .week_chart, .hours_chart{   
        margin-top: 35px !important;
    }
    .recurr_wrap{
        margin-top: 42px !important;
    }
    .tab_content{
        padding: 40px 5px 30px 5px !important;
    }
    .box_db, .box_db2{
        width: 97% !important;
        max-width: none !important;
    }
    .gender_perc{
        max-width: 100px !important;
        display: inline-block !important;
        margin: 0 20px 0 20px !important;
    }
    .cust_col1_icon{
        margin-bottom: 20px !important;
    }
    .pie_txt_lbl{
        width: 70% !important;
        display: inline-block !important;
        text-align: center;
    }
    .pie_txt_val{
        width: 30% !important;
        display: inline-block !important;
        text-align: center;
    }
    .week_chart, .hours_chart{
        height: auto !important;
    }
    .pieChart_wrap{
        max-width: 350px !important;
    }
    .paytyp_cont_wrap>div>img{
        width: 50px;
    }
}
