
a{
  text-decoration: none;
}
.chaport-launcher-button{
  background: linear-gradient(to left, #00bb7d, #00b4ad) !important;
}

/***************************************/
/********** NAIGATION BAR **************/
/***************************************/

.navigation_container{
	background-color: transparent;
	box-shadow: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 15px 5px 25px;
	box-sizing: border-box;
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	height: 70px;
	z-index: 5;
}
.navigation_container>img{
	width: 120px;
	cursor: pointer;
	float: left;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#menu_wide_screen{
	display: block;
	list-style: none;
    right: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#menu_wide_screen>li{
	float: left;
	margin-right: 7px;
	margin-left: 7px;
	font-weight: 300;
	font-size: 15px;
	cursor: pointer;
	padding-top: 2px;
	color: #272727;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
#menu_wide_screen>li:first-child:hover,
#menu_wide_screen>li:nth-child(2):hover,
#menu_wide_screen>li:nth-child(3):hover{
	text-decoration: underline;
}
#btn_nav_login{
	color: #272727;
	text-transform: uppercase;
	margin-left: 25px !important;
	font-weight: 400 !important;
}
#btn_nav_signin{
	border: 1px solid #272727;
  border-radius: 10px;
  padding: 2px 15px;
  text-transform: uppercase;
  font-weight: 400 !important;
  background-color: transparent;
  color: #272727;
  max-width: 150px;
	margin: auto;
}
#btn_nav_login:hover{
	text-decoration: underline;
}
#btn_nav_signin:hover{
	border: 1px solid var(--greenluca);
	background-color: #ffffff;
	color: var(--greenluca);
}

.menu_icon{
	position: absolute;
  right: 25px;
  top: 20px;
  color: #00bb7d;
  font-size: 40px;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.menu_icon.white{
  color: #ffffff;
}
.menu_icon:hover{
	color: #009d69;
}

#menu_small_screen{
  background-color: rgba(255, 255, 255, 1);
  display: block;
  list-style: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 250px;
  transform: translateX(100%);
  text-align: center;
  overflow: hidden;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  box-shadow: 0px 8px 8px 0 rgba(82,97,115,0.18);
  padding: 0 1px;
}
#menu_small_screen:first-child{
	margin-top: 20px;
}
#menu_small_screen>li{
	margin-top: 15px;
	font-weight: 300;
	font-size: 15px;
	cursor: pointer;
	padding: 0 20px;
}
#menu_small_screen>li{
	color: #272727;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
#menu_small_screen>li:hover{
	color: var(--greenluca);
}
#menu_small_screen>li:nth-child(3){
	color: var(--greenluca);
}
#menu_small_screen>li:nth-child(4){
	color: var(--greenluca);
	border: 1px solid var(--greenluca);
}
#menu_small_screen>li:nth-child(4):hover{
	color: #ffffff;
	background-color: var(--greenluca);
}

@media only screen and (max-width: 767px){
	#menu_wide_screen{
		display: none;
	}

	.menu_icon{
		display: block;
	}	

	#btn_nav_login{
		margin-left: 0 !important;
	}

}
@media only screen and (min-width: 767px){
	#menu_small_screen{
		display: none;
	}
}

/* END OF NAVIGATION */



/************************************************************/
/************** SECTION 0 : LANDING PAGE ********************/
/************************************************************/

.bg-home{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  max-height: 1100px;
}

.bg-image-home{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background: url('../images/luca_landing_bg.svg') no-repeat;
  background-position: left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
  max-height: 1100px;
}
.bg-opacity-black{
  background-color: rgba(0,0,0,0);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.menu_home_container{
  width: 100%;
  height: 50px;
  position: relative;
  padding: 15px 0 10px 0;
  z-index: 5;
}
nav>ul{
  position: absolute;
  right: 0;
}
nav>ul>li{
  list-style: none;
  float: left;
  margin-right: 10px;
}
nav>ul>li>a{
  text-decoration: none;
}
.menu_home_flag{
  width: 30px;
  height: 30px;
  padding-top: 5px;
}
.menu_home_phone{
  color: #fff;
  font-size: 14px;
  line-height: 2.9;
}
.menu_home_phone:hover{
  color: #5ca895;
}
.menu_home_btn_ingresar{
  font-weight: bold;
  width: 130px;
  height: 45px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid black;
  border-color: #fff;
  border-radius: 17px;
  cursor: pointer;
  color: #fff;
  margin-left: 25px;
  margin-right: 50px;
  letter-spacing: 2px;
}
.menu_home_btn_ingresar:hover{
  background-color: #fff;
  color: black;
}

#menu_home_header_3:hover + .menu_home_btn_ingresar{
  background-color: #fff;
  color: black;
}


.home_logo{
  width: 50%;
  margin: 10px 50px 60px 70px; 
  position: relative;
}
.home_logo>img{
  width: 250px;
}

.home_1_container{
  width: 100%;
  display: block;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  box-sizing: border-box;
  padding: 0 50px 0 30px;
  text-align: center;
}
.home_1_container>h1{
  color: #fff;
  margin-bottom: 60px;
  font-size: 50px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  display: inline;
  background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 201, 134, 0.95) 50%);
  background-repeat: repeat-x;
  background-position: 0 .80em;
  background-size: 100% 20px;
}
.home_1_container>h1>b{
  color: #00d58e;
}
.home_1_container>p{
  color: #FFFFFF;
  margin-bottom: 30px;
  font-size: 21px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  font-weight: 400;
  letter-spacing: 0.5px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


.btn_start_now{
  position: relative;
  float: left;
  margin-top: -10px;
  margin-left: 70px;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
}


.reg_btn_container{
  position: absolute;
  top: 710px;
  width: auto;
  z-index: 6;	
}


.form_quick_reg{
  position: relative;
  width: 100%;
}
.form_quick_reg>input:nth-child(1){
  margin-left: 55px;
  margin-bottom: 30px;
  width: 0px;
  padding: 0px;
  border: none;
  transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
}
.form_quick_reg>input:nth-child(2){
  margin-left: 10px;
  margin-bottom: 30px;
  width: 0px;
  padding: 0px;
  border: none;
  transition: width 0.3s ease-out 0.25s;
  -webkit-transition: width 0.3s ease-out 0.25s;
  -moz-transition: width 0.3s ease-out 0.25s;
  -o-transition: width 0.3s ease-out 0.25s;
}
.form_quick_reg>input:nth-child(3){
  margin: 0 0 0 15px;
  width: 0px;
  padding: 0px;
  border: none;
  transition: all 0.3s ease-out 0.55s;
  -webkit-transition: all 0.3s ease-out 0.55s;
  -moz-transition: all 0.3s ease-out 0.55s;
  -o-transition: all 0.3s ease-out 0.55s;
  /*margin-bottom: 30px;*/
}
.form_quick_reg>input:nth-child(3):after{
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

@media only screen and (max-width: 800px) {
  .home_logo>img {
    width: 170px;
  }
  .home_logo {
    margin: 10px 50px 60px 40px;
  }
  .menu_home_btn_ingresar {
    margin-right: 10px;
    margin-left: 5px;
    height: 42px;
  }
  .home_1_container>p>a{
    display: inline-block;
  }

  
  .bg-image-home{
    background-attachment: initial;
    background-position: 20% bottom;
  }




}

@media only screen and (max-width: 340px) {
  .home_1_container>h1{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .home_1_container>p{
    margin-bottom: 5px;
    font-size: 15px;
  }

}

@media only screen and (max-width: 1000px) {
  .form_quick_reg{display: none;}

  .btn_start_now{
    margin-left: 40px;
  }

  .reg_btn_container{
    width: auto;
  }
}

.btn_style_1{
  max-width: 250px;
  height: 30px;
  color: #efefef;
  font-size: 35px;
  border:none;
  border-radius: 7px;
  background-color: #00bb7d;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  -webkit-appearance: none;
}
.btn_style_1:hover{
  background-color: #267363;
}


/************************************************************/
/************** SECTION 1 : FEATURES ************************/
/************************************************************/

.bg_waves_w_w{
  background: url('../images/luca_waves_bg.svg') no-repeat;
  background-size: contain;
  background-position: bottom center;
}
@media only screen and (max-width: 1000px) {
  .bg_waves_w_w{
    background-size: cover;
    background-position: 55%;
  }
}

.home-section-1{
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;
}
.home-section-1-a{
  width: 100%;
  box-sizing: border-box;
  display: table;
  padding: 50px 0px 150px 0px;
}
.text_1a_container{
  display: table-cell;
  width: 100%;
  text-align: center;
  padding: 45px 35px;
  vertical-align: middle;
  box-sizing: border-box;
}
.img_1a_container{
  display: table-cell;
  width: 45%;
  padding: 45px 15px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.text_1a_container>h1{
  color: #191919;
  font-weight: bold;
  font-size: 40px;
  max-width: 700px;
  margin: 0 auto 15px auto;
}
.text_1a_container>h2{
  color: #666666;
  font-weight: normal;
  font-size: 18px;
  max-width: 700px;
  margin: auto;
  font-weight: 400;
}

.img_1a_container>img{
    width: 90%;
        max-width: 400px;
        display: none;
}



.home-section-1-b{
  width: 100%;
  /*background-color: blue;*/
  padding: 20px 35px;
  box-sizing: border-box;
  display: table;
  margin: 70px 0px;
}
.sec1b-items{
  display: table-cell;
  max-width: 300px;
  /*border: 2px solid #000;*/
  box-sizing: border-box;
  text-overflow: ellipsis;
  padding-right: 10px;
  padding-left: 10px;
}

.text_1b_container{
  width: 100%;
  display: table-caption;
  margin-bottom: 30px;
  text-align: center;
  box-sizing: border-box;
}
.text_1b_container>h1{
  color: #191919;
  font-weight: bold;
  font-size: 40px;
  margin: auto;
}


@media only screen and (max-width: 800px) {
    .sec1b-items { 
        display: block;
        width: 100%;
        max-width: 500px;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    .text_1a_container{
    display: block;
    width: 100%;
  }
  .img_1a_container{
    display: block;
    width: 100%;
  }

  .home-section-1-a {
    padding: 70px 25px 30px 25px;
  }

}
.sec1b-items-img{
  width: 100%;
  height: 110px;
  display: block;
  padding: 10px 0;
}
.sec1b-items>div>img{
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.sec1b-items>div>h3{
  color: #191919;
  padding-bottom: 15px;
  text-align: center;
  font-size: 21px;
}
.sec1b-items>div>p{
  color: #666666;
  font-size: 16px;
  text-align: center;
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}


/*********************************************************************************/
/************** SECTION 2 : ANALITICA DONDE TE ENCUENTRES ************************/
/*********************************************************************************/

.home-section-2{
  position: relative;
  padding-bottom: 60px;
  padding-top: 50px;
}
.sec2a h1{
  width: 100%;
  color: #191919;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.sec2b{
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.sec2b_1{
  display: table-cell;
  width: 50%;
  /*border:2px solid #000;*/
}
.sec2b_2{
  display: table-cell;
  width: 50%;
  /*border:2px solid #000;*/
}
.sec2b_1>img{
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}	
.sec2b_2{
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 1px;
  padding-right: 50px;
  vertical-align: middle;
}
.sec2b_2>div{
  text-align: left;
  margin-bottom: 30px;
}
.sec2b_2_title{
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 7px;
}
.sec2b_2_text{
  color: #595959;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  .sec2b{ 
      display: block;
      width: 100%;
  }
  .sec2b_1, .sec2b_2{
    display: block;
    width: 100%;
  }
  .sec2b_2 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0px 20px;
    box-sizing: border-box;
  }
  .sec2b_2>div{
    text-align: center;
  }
}

/*********************************************************************************/
/************** SECTION 3 : UNA SOLUCION PARA CADA NECEISAD **********************/
/*********************************************************************************/

.home-section-3{
  position: relative;
  padding-bottom: 70px;
  padding-top: 50px;
}
.sec3b_1{
  display: block;
  width: 100%;
}
.sec3b_1_table_container{
  display: table;
  margin: 0 auto;
  border-collapse: collapse;
}
.sec3b_1_itemtable{
  width: 50%;
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
  box-sizing: border-box;
}
.sec3b_1_itemtable>img{
  width: 170px;
  padding-bottom: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.sec3b_1_itemtable>p{
  font-size: 17px;
  color: #666666;
  display: block;
  text-align: center;
  line-height: 23px;
  font-weight: 300;
  max-width: 300px;
  margin: 0 auto;
}
.sec3b_1_itemtable>p>span{
  color: #00bb7d;
}

.border_right{border-right: 1px solid #666666;}
.border_left{border-left: 1px solid #666666;}
.border_down{border-bottom: 1px solid #666666;}
.border_up{border-top: 1px solid #666666;}

@media only screen and (max-width: 500px) {
    .sec3b_1{
      display: block;
      width: 100%;
    }
  .sec3b_1{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .sec3b_1>div{
    text-align: center;
  }
  .sec3b_1_table_container{
    width: 100%;
  }
  .sec3b_1_itemtable{
    width: 100%;
    display: block;
  }
}

/****************************************************************/
/************** SECTION 4 : MENSAJE GRATIS **********************/
/****************************************************************/

.home-section-4{
  padding: 70px 10px;
}
.sec4_a{
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.sec4_a_img, .sec4_a_msg{
  display: table-cell;
  vertical-align: middle;
}
.sec4_a_img{
  width: 30%;
  text-align: right;
  display: none;
}
.sec4_a_img>img{
  width: 100px;
  margin-right: 30px;
}
.sec4_a_msg{
  text-align: center;
  width: 70%;
}
.sec4_a_msg>h1{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
.sec4_a_msg>h1>span{
    color: #00bb7d;
}
.sec4_a_msg>h2{
  font-size: 18px;
  color: #666666;
  font-weight: 300;
  letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {

  .sec4_a_msg{
    display: block !important;
    width: 100% !important;
  }

  .sec4_a_img>img {
    width: 110px;
    display: block;
    margin: 5px auto 15px auto;
  }

  .sec4_a_msg {
    /* background-color: blue; */
    width: 1%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
}

/****************************************************************/
/************** SECTION 6 : FOOTPAGE ****************************/
/****************************************************************/
.home-section-footpage{
  width: 100%;
  height: auto;
  position: relative;
  background-color: #25282E;
  display: block;
}
.foot_ready_start{
  background: linear-gradient(to right, #00bb7d, #00b4ab);
  height: 170px;
  width: 100%;
  position: relative;
  display: table;
}
.foot_rs_a, .foot_rs_b{
  display: table-cell;
  vertical-align: middle;
}
.foot_rs_a{
  width: 60%;
  color: #FFF;
  text-align: center;
  padding: 10px 20px;
  padding-left: 50px;
}
.foot_rs_a>h1{
  font-size: 30px;
  letter-spacing: 1px;
}
.foot_rs_a>h2{
  font-size: 18px;
  font-weight: normal;
}
.foot_rs_b{
  width: 40%;
}




.foot_container{
  display: table;
  border-collapse: collapse;
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.foot_cont_1, .foot_cont_2, .foot_cont_3{
  display: table-cell;
  padding-top: 60px;
  padding-right: 20px;
}

.foot_cont_1{
  width: 25%;
}
.foot_cont_2{
  width: 25%;
}
.foot_cont_3{
  width: 50%;
}

.foot_cont_1_text>h1{
  color: #00d58e;
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 300;
}
.foot_cont_1_text>p{
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 15px;
  color: #e5e5e5;
  font-weight: 300;
}
.foot_cont_1_text>p>a{
  color: #e5e5e5;
  font-weight: 300;
}
.foot_social_netw{
  position: relative;
  text-align: center;
  padding: 10px 0;
}
.foot_social_netw>a{
  text-decoration: none;
}
.foot_social_netw>a>img{
  width: 42px;
  margin-right: 20px;
}

.foot_cont_3_logo>img{
  width: 100px;
  padding-bottom: 0px;
}
.foot_cont_3>p{
  color: #e5e5e5;
  padding-bottom: 20px;
  font-size: 17px;
  padding-top: 10px;
  font-weight: 300;
}
.foot_cont_3>p>a{
  color: #00d58e;
  text-decoration: none;
  font-size: 17px;
}

.click_login_foot{
  cursor: pointer;
  color: #e5e5e5;
  font-size: 20px;
}


.foot_last_band{
  width: 100%;
  height: 40px;
  background-color: #25282E;
  display: block;
  position: relative;
}
.foot_last_band>p{
  font-size: 14px;
  color: #87888b;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-weight: 300;
}


@media only screen and (max-width: 800px) {

  .foot_ready_start{
    padding: 50px 0;
    background: linear-gradient(to bottom, #00bb7d, #00b4ab);
  }
  .foot_cont_1, .foot_cont_2, .foot_cont_3{
    display: block;
    width: 100%;
    padding-top: 20px;
  }
  .foot_cont_1{
    padding-top: 50px;
  }
  .foot_cont_3{
    margin-bottom: 150px;
  }
  .foot_rs_a, .foot_rs_b {
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
  }
}


/***************************************************/
/************** CONTAINER INFO-IMAGEN **************/
/***************************************************/

.container_info_main{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  height: 450px;
}
.container_info_box{
  width: 100%;
  height: auto;
  padding: 60px 20px;
  display: table;
  overflow: hidden;
  box-sizing: border-box;
  /*border: 1px solid #efefef; */
}
.info_box_img{
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  padding: 0 30px;
  height: 300px;
}
.info_box_text{
  display: table-cell;
  width: 60%;
  vertical-align: middle;
  text-align: center;
  padding: 0 35px;
  margin: auto;
}
.info_box_img>img{
  max-width: 350px;
}
.info_box_text>h1{
  font-size: 35px;
  max-width: 650px;
    margin: auto;
    padding-bottom: 10px;
}
.info_box_text>p{
  font-size: 17px;
  font-weight: 100;
  max-width: 650px;
  color: #676767;
  margin: auto;
  line-height: 30px;
}

@media only screen and (max-width: 760px){
  .container_info_box{
    display: block;
  }
  .info_box_img, .info_box_text{
    display: block;
    width: auto;
    text-align: center !important;
  }
  .info_box_img{
    height: auto;
  }
  .info_box_img>img{
    width: 100%;
    padding: 60px 0;
  }
  .container_info_main{
    height: auto;
  }

}

.txt_algn_left{
  text-align: left;
}
.txt_algn_right{
  text-align: right;
}
.mrg_left{
  margin: 0 auto 7px 10px;
}
.mrg_right{
  margin: 0 10px 7px auto;
}


/*******************************************************/
/************* END: CONTAINER INFO-IMAGEN **************/
/*******************************************************/


.container_simple_msg{
  height: 420px;
  width: 100%;
  background: url('../images/luca_landing_bg.svg') no-repeat;
  background-position: bottom left;
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;	
  display: table;
  position: relative;
}	
.container_simple_msg_2{
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding: 0 20px;
}
.container_simple_msg_2>h1{
  padding-bottom: 10px;
  margin: 0;
  color: #fff;
  font-size: 50px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  display: inline;
  background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 201, 134, 0.95) 50%);
  background-repeat: repeat-x;
  background-position: 0 .80em;
  background-size: 100% 20px;
}
.container_simple_msg_2>h2{
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  padding-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  margin: 25px auto 10px auto;
  max-width: 600px;
}
.container_simple_msg_2>button{
  margin-top: 30px;
  font-size: 18px;
}
.container_simple_msg_2>img{
  width: 200px;
  margin-bottom: 20px;
}

.svg_poly_botm{
  position: absolute; 
  width: 100%; 
  bottom: -3px; 
  left: 0px; 
  height: 5vw;
}
.svg_poly_top{
  position: absolute; 
  width: 100%; 
  top: 0px; 
  left: 0px; 
  height: 5vw;
}

.fs50{font-size: 50px !important}

/**************** BUTTONS ***********************/

/* 1 - Normal con fondo verde efecto cambio de color en hover */
.btn_style_1{
  max-width: 350px;
  outline: none;
  -webkit-appearance: none;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  background-color: #00bb7d;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 13px 20px;
  transition: all 0.3s ease-out;
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  font-size: 17px;
}

.btn_style_1:hover{
  background-color: #00724c;
}

.btn_style_1.btnWhite{
  background-color: #ffffff !important;
  color: #00bb7d !important;
  border: 2px solid #ffffff !important;
}
.btn_style_1.btnWhite:hover{
  background-color: transparent !important;
  color: #ffffff !important;
}


/* 2 - Boton con borde verde y con posibles efectos en el hover
    bounceInUp : Efecto de entrada de color verde de arriba a abajo y con efecto de rebote al final;
*/
.btn_style_2{
  max-width: 250px;
  outline: none;
  -webkit-appearance: none;
  color: #00bb7d;
  border: none;
  border-radius: 7px;
  border: 2px solid #00bb7d;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 13px 20px;
  transition: all 0.6s ease-out;
  position: relative;
  display: inline-block;
  background: #FFF;
  z-index: 1;
  overflow: hidden;
  font-size: 17px;
}

.btn_style_2:after,
.btn_style_2:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00bb7d;
  height: 100%;
  z-index: -1;
  transform: translate3d(0, -100%, 0);
  transition: all 0.6s ease-out;
}

.btn_style_2:before{
  background: transparent;
  z-index: -2;
  transform: translate3d(0,0,0);
}

.btn_style_2:hover {
  color: #FFF;
  border:2px solid #FFF;
}

.btn_style_2:hover:after{
  transform: translate3d(0,0,0);
  transition: all 0.6s ease-out;
}

.bounceInUp:hover:before,
.bounceInUp:hover:after{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
}


/******************************/
/******* COOKIES MSG **********/
/******************************/

.cookiesMsg{
  height: 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  transition: all 0.4s ease-out;
  text-align: center;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  display: none;
}	
.cookiesMsg>p{
  color: #f9f9f9;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
}
.cookiesMsg>p>a{
  text-decoration: underline;
  font-weight: 400;
  color: #f9f9f9;
}

.cookiesMsg>button{
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
  max-height: 40px !important; 
}

.cookiesMsg>button:active + .cookiesMsg{
  height: 0px;
}

@media only screen and (max-width: 340px){
  .cookiesMsg>p{
    font-size: 11px;
  }
}
/******************************/
/******************************/

.lndst1-bghome{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  max-height: 1100px;
  background: url(../images/luca_waves_bg.svg) no-repeat;
  background: url(../images/luca_waves_bg.svg) no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lndst1-wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding: 70px 20px 40px 20px;
  box-sizing: border-box;
  height: 100%;
  text-align: center !important;
}

.lndst1-img{
  padding: 3%;
  max-width: 700px;
  width: 100%;
}

.lndst1-img>img{
  max-width: 600px;
  width: 100%;
}

.lndst1-txt{
  padding: 50px;
}

.lndst1-title{
  font-family: lato;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333333;
  margin-bottom: 10px;
  font-size: 40px;
  display: block;
  background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 201, 134, 0.40) 50%);
  background-repeat: repeat-x;
  background-position: 0 .80em;
  background-size: 100% 20px;
  text-align: center;
}

.lndst1-subtitle{
  color: #555555;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.5px;
  max-width: 800px;
  text-align: center;
  line-height: 25px;
}
.lndst1-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video_promo_container{
  position: relative;
  height: auto;
  width: 100%;
  max-height: 600px;
}
.video_promo_container > h1{
  color: #191919;
  font-size: 40px;
  text-align: center;
  margin: 20px 0px;
}

.video_promo_wrap{
  margin: auto;
  width: 100%;
  height: 450px;
}

.video_promo_wrap > video {
  position: absolute;
  width: 100%;
  outline: none;
  height: auto;
  max-width: 750px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 767px){
  .video_promo_wrap > video {
    border-radius: 0;
  }
  .lndst1-wrap{
    display: block !important;
  }
  .lndst1-img>img{
    max-width: 350px !important;
  }
  .lndst1-title{
    font-size: 32px;
  }
  .lndst1-subtitle{
    font-size: 15px;
  }
  .lndst1-cont{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
  }
  .lndst1-txt{
    padding: 0;
  }
}

.gray_bg {
    background-color: #f9f9f9 !important;
}


