body{
    background: #fafafa !important;
}
.cont_temp{
    padding: 25px 30px 65px 30px;
    background: #fafafa;
}
.cont_temp>h2{
    margin: 30px 0px 0px 10px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.cont_temp>h2, .user_since, .c_email{
    text-align: center;
    letter-spacing: 1.5px;
}
.user_since{
    font-size: 15px;
    color: #666;
    padding-bottom: 30px;
    line-height: 10px;
    font-weight: lighter;
}
.c_email{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.update_link{
    cursor: pointer;
    margin-top: 30px;
    font-weight: 600;
    color: var(--ColorBtns);
    font-size: 15px;
    text-align: left;
}
.update_link:hover{
    color: var(--ColorBtns_hov);
    text-decoration: underline;
}
/******* IMAGE AVATAR ******/
.image_logo{
    /*background-image:url('<?php echo $logo_img_path; ?>');*/
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    max-width: 270px;
    /*height: <?php echo $height_avtr; ?>;*/
    border-radius: 0%;
    /*border: 1px solid rgba(0,0,0,.1);*/
    margin: 10px auto 20px auto;
    cursor: pointer;
    display: block;
}

.btn_style_2{
    max-width: 250px;
    color: #191919;
    font-size: 17px;
    border:1px solid #191919;
    border-radius: 7px;
    background-color: transparent;
    letter-spacing: 2px;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 10px;
    font-weight: lighter;
    margin-top: 15px;
}
.btn_style_2:hover{
    background-color: #191919;
    color: #fff;
}

.edit_user_dt{
    margin-bottom: 13px;
    font-weight: 300;
    cursor: default;
}
.edit_user_dt>img{
    width: 17px;
    color: red;
    cursor: pointer;
    margin-left: 10px;
}
.edit_user_dt span:first-child{
    font-size: 23px;
    margin-right: 20px;
    color: #262626;
}

.log-out>img{
    width: 35px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
}

.cont_main{
    display: table;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.cont_user_vars{
    display: table-cell;
    width: 50%;
}
.cont_user_vars_2{
    margin: auto;
    width: fit-content;
    padding: 0 10px;
    max-width: 300px;
}

.container_second{
    max-width: 300px;
    display: table-cell;
    width: 50%;
    text-align: center;
}

.form-del-act{
    text-align: center;
    margin-top: 50px;
}

@media only screen and (max-width: 700px) {

    .cont_main{
        display: block;
    }
    .cont_user_vars, .container_second{
        display: block;
        width: 100%;
        margin: auto;
    }

}

/****************** FILE TYPE ****************/
.inputfile{
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label{
    border: 2px solid #999;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 15px;
    color: #333;
    padding: 10px 7px;
    width: 130px;
    height: 150px;
    display: inline-block;
    /* float: left; */
    cursor: pointer;
    font-weight: 300;
    margin-right: 16px;
    /* -webkit-font-smoothing: antialiased; */
    box-sizing: border-box;
    vertical-align: top;
    line-height: 20px;
}

.inputfile + label>img{
    width: 65px;
    margin: 0 auto 10px auto;
    display: block;
}

.inputfile:focus + label,
.inputfile + label:hover,
.img_gallery:hover {
    /*background-color: #39ac95;*/
    border: 2px solid #00b4ab; 
}

.img_gallery{
    border: 2px solid #999;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 15px;
    color: #333;
    padding: 10px 7px;
    width: 130px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    /* -webkit-font-smoothing: antialiased; */
    margin: auto;
    vertical-align: top;
    font-family: Open Sans;
}

.img_gallery>img{
    width: 65px;
    margin: 0 auto 10px auto;
    display: block;
}
/********************************************/

.acct_section{
    display: block;
    margin: 0 0 35px 0;
}




/******** NEW ***********/
.consect_wrap input{
    width: 110px;
    text-align: center;
    display: inline-block;
}
.consect_wrap p{
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
}
.flag_country{
    margin: 0px 10px 0px 0px;
    width: 23px !important;
    margin-left: 0 !important;
}
.cr_title{
    width: fit-content;
    display: inline-block !important;
}
.current_resolution{
    display: inline-block;
    margin: 30px 5px;
}
.admin_res_cont{
    margin: 30px 10px;
}
.admin_res_wrap{
    max-height: 318px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #dddddd;
    border-radius: 10px;
}
.res_elem_cont{
    width: 100%;
    display: table;
    border-bottom: 1px solid #dddddd;
    position: relative;
    border-collapse: collapse;
}
.res_item{
    padding:15px;
    box-sizing: border-box;
    width: 80%;
}
.res_switch{
    width: 20%;
    padding: 10px;
}
.res_switch>img{
    width: 100%;
}
.res_switch, .res_item{
    display: table-cell;
    vertical-align: middle;
}
.res_item p{
    text-align: left;
    line-height: 25px;
}
.res_item p:first-child{
    font-size: 17px;
    font-weight: 600;
    color: #333333;
}
.res_item p:nth-child(2){
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #999999;
}
.res_item p:nth-child(3){
    font-size: 14.5px;
    font-weight: lighter;
}
.res_tools{
    position: absolute;
    top: 5px;
    right: 5px; 
    background-color: #FFFFFF;
}
.res_tools>span{
    color: #999999;
    font-size: 18px;
    margin: 0px 5px;
    display: inline-block;
    cursor: pointer;
}
.res_link_dian{
    width: 100%;
    max-width: inherit;
}
.res_link_dian>a{
    color: #999999 !important;
}
.NoResolutions{
    display: none;
    width: 100%;
}
.NoResolutions>p{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px;
    padding: 0px 20px;
}   
.option_box{
    max-width: 300px;
}
.option_box > p{
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 20px;
}
.cont_help_report{
    padding: 0px 10px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 100;
    text-align: justify;
}
.cont_help_report > h1{
    margin-bottom: 20px;
}
.cont_help_report > ul{
    list-style: inside circle;
    text-indent: 20px;
    padding: 12px 0px;
}
#help_report{
    cursor: pointer;
}


/* Styles POS Obj*/ 

.no_data{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px;
    padding: 0px 20px;
}