
/******** GENRAL PAGE ********/
body{
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
    
}
.body_kitchen_display{
  position: relative;
  width: 100%;
  height: 100vh;
  
}
.top_kitchen_display{
    border-bottom: 1px solid #ededed;
    background: #ffff !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 0px 0px 7px;  
}
.top_kitchen_display_1 div{
    display: flex;
    flex-direction: row;
}
.top_kitchen_display_1 p:nth-child(odd){
    margin: 0px 0px auto 0px; 
}
.top_kitchen_display_1 p:nth-child(even){
    color: #a5a6a8;
    margin: 0px 0px auto 10px; 
}
.top_kitchen_display_1 div:nth-child(even){
    margin: -10px 0px auto 0px;  
}

.top_kitchen_display_2{
    display: flex;
    flex-direction: row;
}

.top_kitchen_display_2 div{
    cursor: pointer;
}

.top_kitchen_display img:last-child{
    width: 30px;
    margin: 5px 17px auto 0px;
}

/******** ORDERS ********/
.order_box{
    float: left;
    background: #ffff !important;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 10px;
}
.order_box_top{
    background: #6ab04c !important;
    color: #ffffff;
    font-weight: bold; 
    padding: 7px 0px 5px 10px;
    margin-bottom : 10px;
    border-radius: 3px 3px 0px 0px;
}
.order_box_top_slow{
    background: #f9ca24 !important;
    color: #ffffff;
    font-weight: bold; 
    padding: 7px 0px 5px 10px;
    margin-bottom : 10px;
    border-radius: 3px 3px 0px 0px;
}
.order_box_top_alert{
    background: #FF6347 !important;
    color: #ffffff;
    font-weight: bold; 
    padding: 7px 0px 5px 10px;
    margin-bottom : 10px;
    border-radius: 3px 3px 0px 0px;
}
.order_box_item_note{
  padding: 0px 0px 0px 10px;
}
.order_box_item{
  padding: 0px 0px 0px 10px;
}
.order_box_item_note p:nth-child(2) {
  color: #a5a6a8;
  text-indent: 20px;
  margin-top: -10px; 
}
.check_order{
  font-size: 15px;
  text-align: center;
  margin-top: 10px; 
  padding: 7px 0px 5px 10px;
  border-top: 2px dotted #a5a6a8;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

/******** END OF ITEM BOX ********/
.no_prods_msg{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.no_prods_msg>img{
    width: 80px;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px auto 15px auto;
}
.no_prods_msg>p{
    font-weight: 300;
    display: block;
    vertical-align: middle;
    max-width: 300px;
    text-align: center;
    margin: auto;
}
.no_prods_msg>p>span{
    font-weight: 400;
    cursor: pointer;
}

