body {
  background-color: #f9f9f9;
}

.main_container {
  border-radius: 5px;
  width: 95%;
  max-height: 95%;
  max-width: 800px;
  height: 550px;
  max-height: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: table;
  border-collapse: collapse;
  z-index: 1;
}

.reg_logo_cont {
  display: table-cell;
  vertical-align: top;
  width: 25%;
  text-align: center;
  padding: 30px 10px;
  /*border:1px solid #000;*/
}

.reg_logo_cont>img {
  width: 150px;
  padding-left: 40px;
  padding-right: 30px;
  cursor: pointer;
}

.reg_form_cont {
  display: table-cell;
  vertical-align: top;
  width: 75%;
  padding: 35px 20px 40px 20px;
  /*border:1px solid #000;*/
}

.reg_form_cont>h1 {
  font-size: 35px;
  color: #191919;
  margin-bottom: 10px;
}

.reg_form_cont>h2 {
  font-size: 17px;
  color: #666666;
  font-weight: 300;
  margin-bottom: 30px;
}

.reg_form_cont>h2>span {
  color: #00bb7d;
  cursor: pointer;
}

.reg_form_cont>form {
  margin: 0 45px 0 0;
  max-width: 400px;
}

.reg_form_cont>form>input {
  font-size: 15px;
  width: 100%;
  max-width: 500px;
  height: 55px;
  margin-bottom: 10px;
  padding: 0 15px;
  box-sizing: border-box;
  /* Prevent padding from affecting width and height*/
  -webkit-appearance: none;
}

.reg_form_cont>form>input[type=text],
.reg_form_cont>form>input[type=email],
.reg_form_cont>form>input[type=password] {
  border: 2px solid #282828;
  border-radius: 5px;
  color: #666666;
  ;
}

.reg_form_cont>form>input[type=text]:focus,
.reg_form_cont>form>input[type=email]:focus,
.reg_form_cont>form>input[type=password]:focus {
  outline: none;
  border: 2px solid #7febd0;
}

.reg_form_cont>form>select {
  width: 100%;
  height: 55px;
  position: relative;
  font-size: 15px;
  max-width: 500px;
  margin-bottom: 10px;
  padding: 0px 15px;
  background-color: white;
  border: 2px solid #282828;
  border-radius: 5px;
  color: #666666;
  cursor: pointer;
  -webkit-appearance: none;
}

.reg_form_cont>form>select:focus {
  outline: none;
  border: 2px solid #7febd0;
}

.reg_form_cont>form>p {
  color: #666666;
  font-size: 13px;
  max-width: 500px;
  line-height: 20px;
  font-weight: 300;
}

.reg_form_cont>form>p>a {
  text-decoration: none;
  color: #00bb7d;
}

.reg_form_cont>form>input[type=submit] {
  margin-top: 30px;
  outline: none;
}

.btn_style_2 {
  max-width: 250px;
  color: #ffffff;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  background: var(--GradientLeftLuca);
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 13px 10px;
}

.btn_style_2:hover {
  background-color: #267363;
}

.selectIcn{
  /* background-image: url(https://www.2luca.co/icons/SVG/74-food/apple-1.svg); */
  background-repeat: no-repeat;
  padding-left: 55px !important;
  background-size: 32px;
  background-position-x: 11px;
  background-position-y: center;
}

@media only screen and (max-width: 767px) {
  .main_container {
    width: 95%;
    position: relative;
    display: block;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
  }

  .reg_logo_cont {
    width: 100%;
    text-align: center;
    display: block;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
  }

  .reg_logo_cont>img {
    width: 170px;
    padding-left: 0;
    padding-right: 0;
  }

  .reg_form_cont {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
  }

  .reg_form_cont>form {
    margin: 0 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .reg_form_cont>h1 {
    margin-bottom: 25px;
  }
}